<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{% block title %}{{ title }}   {% endblock %}</title>
<link rel="stylesheet" href="/explorer/static/css/styles.css" type="text/css" />
{% block extra_style %}{% endblock %}
{% block extra_js %}{% endblock %}
</head>
<body>
<div class="wrapper">
   <div class="top">
     <div class="header">
          <!-- TITLE -->
           <h1><a href="#">FeedDB Explorer</a></h1>
           <h2>Exploring Data in FeedDB</h2>
          {%if user.is_authenticated %}	
               <div class="greeting">welcome! {{user}}</div>
          {% endif %}
			<div class="clear"></div>
			<!-- END TITLE -->
		</div>
		<div class="menu">
			{% include "explorer/topmenu.html" %}
		</div>
	</div>		
	<div class="content">	
		<div class="page-content">	
			<!-- CONTENT -->
                                                                                {% block message %}
{% if messages %}
    {% for message in messages %}
    <p class="message">{{ message }}</p>
    {% endfor %}
{% endif %}

{% endblock %}
			        {% block content %}{{ content }}{% endblock %}
			
			<!-- END CONTENT -->
		</div>
	</div>


	<div class="clear"></div>			

	<p class="footer"><a href="http://nescent.org">NESCent</a> 2009</p>
</div>

			

<div style="text-align: center; font-size: 0.75em;"></div></body>
</html>
