{% extends "explorer/base.html" %}
{% block content %}

<div style="float:left;width:600px;">
Test: FeedDB Explorer is a web application for searching and downloading data from the feeding database.<br/><br/>

Feeding, critical to survival, is an integrated function involving numerous craniofacial structures. 
Changes in these structures are a significant part of the evolution and diversification of mammals. 
Our understanding of mammalian craniofacial evolution rests, in part, on functional studies of the motor patterns 
of craniofacial muscles during feeding, and of the movements and forces within the feeding apparatus. 
A number of researchers have collected large data sets of motor patterns of feeding muscles and the associated
 movements and forces from the jaws and hyolaryngeal apparatus. Such data address fundamental questions about 
the evolution, functional morphology, and development of the mammalian head. Despite significant datasets and 
collegiality amongst workers, inter-specific studies of neuromotor evolution are rare because of the lack of a master database. 
The overarching goal of the working group is to develop a database of physiologic data on feeding in mammals 
through three specific aims: (1) combine existing EMG, kinematic, and bone strain data for at least 
36 mammalian species in 10 orders into a database; (2) generate operational strategies for studying key scientific 
questions about neuromotor evolution and constraint, craniofacial evolution, and feeding behavior with the database; 
(3) test hypotheses about the evolution and conservation of motor pattern in mammals. 
This will be the first major database of neuromuscular data to be constructed. It will be a 
significant tool for studying the evolution of the mammalian feeding apparatus, and will be a model for future study of the evolution of functional systems and neuromotor evolution. 
  
</div>

<div style="float:right;">

 {% if not user.is_authenticated %}

<h3>Login</h3>

<form method="post" action="{% url feeddb.explorer.views.login_view %}">
<table>
<tr>
    <td class="even">Username</td>
    <td class="TdValue"><input name="username" type="text" size="15" /></td>
</tr>
<tr>
    <td class="even">Password</td>
    <td class="TdValue"><input name="password" type="password" size="15" /></td>
</tr>
<tr>
    <td></td>
    <td><input type="submit" value="login" /></td>
</tr>

</table>

<input type="hidden" name="next" value="{{ next }}" />
</form>
{%endif%}
</div>
{% endblock %}
