{% extends "explorer/base.html" %}
{% block extra_js %}
<script type="text/javascript" src="/explorer/static/js/jquery-1.3.2.min.js"></script>
{% endblock %}

{% block content %}
<h3>Trial: {{trial.title}}</h3>
<div class="left">
        <table class="detail_table">
                <caption>Study</caption>

                <tr><td class='TdField'>Name</td><td class='TdValue'>{{trial.session.experiment.study.title}}</td></tr>
<tr><td class='TdField'>Start Date</td><td class='TdValue'>{{trial.session.experiment.study.start}}</td></tr>
<tr><td class='TdField'>End Date</td><td class='TdValue'>{{trial.session.experiment.study.end}}</td></tr>
<tr><td class='TdField'>Approval</td><td class='TdValue'>{{trial.session.experiment.study.approval_secured}}</td></tr>
<tr><td class='TdField'>Funding Acknowledgement</td><td class='TdValue'>{{trial.session.experiment.study.funding_agency}}</td></tr>
<tr><td class='TdField'>Description</td><td class='TdValue'>{{trial.session.experiment.study.description}}</td></tr>

 </table>
 
  <table class="detail_table">
       <caption>Research Subject</caption>         
 <tr><td class='TdField'>Subject Name</td><td class='TdValue'>{{trial.session.experiment.subject.name}}</td></tr>
<tr><td class='TdField'>Genus</td><td class='TdValue'>{{trial.session.experiment.subject.taxon.genus}}</td></tr>
<tr><td class='TdField'>Species</td><td class='TdValue'>{{trial.session.experiment.subject.taxon.species}}</td></tr>
<tr><td class='TdField'>Common Name</td><td class='TdValue'>{{trial.session.experiment.subject.taxon.common_name}}</td></tr>
<tr><td class='TdField'>Breed/Stain</td><td class='TdValue'>{{trial.session.experiment.subject.breed}}</td></tr>
<tr><td class='TdField'>Sex</td><td class='TdValue'>{{trial.session.experiment.subject.sex}}</td></tr>
<tr><td class='TdField'>Source</td><td class='TdValue'>{{trial.session.experiment.subject.source}}</td></tr>
<tr><td class='TdField'>Notes</td><td class='TdValue'>{{trial.session.experiment.subject.notes}}</td></tr>
 </table>

 
 
   <table class="detail_table">
                <caption>Experiment</caption>
<tr><td class='TdField'>Title</td><td class='TdValue'>{{trial.session.experiment.title}}</td></tr>
               <tr><td class='TdField'>Developmental Stage</td><td class='TdValue'>{{trial.session.experiment.subj_devstage}}</td></tr>
<tr><td class='TdField'>Instrumentation Note</td><td class='TdValue'>{{trial.session.experiment.impl_notes}}</td></tr>
<tr><td class='TdField'>Start Date</td><td class='TdValue'>{{trial.session.experiment.start}}</td></tr>
<tr><td class='TdField'>End Date</td><td class='TdValue'>{{trial.session.experiment.end}}</td></tr>
<tr><td class='TdField'>Age of Animal</td><td class='TdValue'>{{trial.session.experiment.subj_age}}</td></tr>
<tr><td class='TdField'>Body Weight</td><td class='TdValue'>{{trial.session.experiment.subj_weight}}</td></tr>
<tr><td class='TdField'>Notes about Animal</td><td class='TdValue'>{{trial.session.experiment.subj_notes}}</td></tr>
<tr><td class='TdField'>Tooth Development </td><td class='TdValue'>{{trial.session.experiment.subj_tooth}}</td></tr>
</table>
 
                <table class="detail_table">
                <caption>Recording Session</caption>
                <tr><td class='TdField'>Start</td><td class='TdValue'>{{trial.session.start}}</td></tr>
<tr><td class='TdField'>End</td><td class='TdValue'>{{trial.session.end}}</td></tr>
<tr><td class='TdField'>Recording Session Order</td><td class='TdValue'>{{trial.session.position}}</td></tr>
<tr><td class='TdField'>Subject Anesthesia/Sedation</td><td class='TdValue'>{{trial.session.subj_anesthesia_sedation}}</td></tr>
<tr><td class='TdField'>Subject Restaint Method</td><td class='TdValue'>{{trial.session.subj_restraint}}</td></tr>
<tr><td class='TdField'>Subject Notes</td><td class='TdValue'>{{trial.session.subj_notes}}</td></tr>

                </table>
                <table class="detail_table">                
                
                <caption>Trial</caption>
<tr><td class='TdField'>Trial Name </td><td class='TdValue'>{{trial.title }}</td></tr>
<tr><td class='TdField'>Trial Number</td><td class='TdValue'>{{trial.position }}</td></tr>
               <tr><td class='TdField'>Primary Behavior </td><td class='TdValue'>{{trial.behavior_primary }}</td></tr>
<tr><td class='TdField'>Secondary Behaviors</td><td class='TdValue'>{{trial.behavior_secondary }}</td></tr>
<tr><td class='TdField'>Behavior Notes</td><td class='TdValue'>{{trial.behavior_notes }}</td></tr>
<tr><td class='TdField'>Duration (hh:min) </td><td class='TdValue'>{{trial.claimed_duration}}</td></tr>
<tr><td class='TdField'>Food Type(s)</td><td class='TdValue'>{{trial.food_type }}</td></tr>
<tr><td class='TdField'>Food Size</td><td class='TdValue'>{{trial.food_size }}</td></tr>
<tr><td class='TdField'>Material Properties of Food</td><td class='TdValue'>{{trial.food_property }}</td></tr>
<tr><td class='TdField'>Experimental Treatment</td><td class='TdValue'>{{trial.subj_treatment }}</td></tr>
<tr><td class='TdField'>Subject Notes</td><td class='TdValue'>{{trial.subj_notes}}</td></tr>
                </table>
             

<table class="detail_table">
<caption>Channels</caption>
                <tr>
                <th>Order</th>
               <th>Name</th>
                <th>Technique</th>
                <th>Rate</th>
                <th>Muscle</th>
                <th>Muscle Side</th>
                </tr>
                 
{% for lineup in trial.session.channellineup_set.all %}
<tr class="{% cycle 'even'  'odd' %}">
      <td>{{lineup.position}}</td>
                 <td>{{lineup.channel.name}}</td>
                 <td>{{lineup.channel.setup.technique}}</td>
                  <td>{{lineup.channel.rate}}</td>
                  {% ifequal lineup.channel.setup.technique.label 'EMG' %}
                           <td>{{lineup.channel.emgchannel.sensor.muscle}}</td>
                           <td>{{lineup.channel.emgchannel.sensor.side}}</td>
                  {%endifequal%}
                   {% ifequal lineup.channel.setup.technique.label 'Sono' %}
                           <td>{{lineup.channel.sonochannel.sensor.muscle}}</td>
                           <td>{{lineup.channel.sonochannel.sensor.side}}</td>
                  {%endifequal%}
                  
</tr>
{%endfor %}
                </table>
</div> <!-- end of left -->
         <div class="right">
<script language="javascript">

function bucket_changed(obj){
   if(obj.value =="add new bucket"){
        $("#new_bucket_div").css({'display':'inline'}); 
   }else{
        $("#new_bucket_div").css({'display':'none'}); 
   }
}
</script>

Put this trial into my bucket: <form action="{% url explorer.views.trial_add trial.id %} " method="POST">
<select name="bucket_id" onchange="bucket_changed(this)">
<option value=""></option>
{% for bucket in user.bucket_related.all %}
<option value = "{{bucket.id}}" >{{bucket}}</option>
{%endfor%}
<option value = "add new bucket" >add new bucket</option>
</select>
<div id="new_bucket_div" style="display:none;"><br/>Enter name for the new bucket:<input name="new_bucket_name" size="20" /></div> 
<input type="submit" value="put" />
</form>
<br/><br/><br/>

           
           {% for bucket in trial.bucket_set.all %}
            {%if forloop.first %}This trial is in following bucket(s):<br/><ul> {%endif%}
                <li>{{bucket}} <a title="remove the trial from this bucket" href="javascript: if(confirm('Do you really want to remove this trial from the bucket:{{bucket}}?')==true)window.location.href='{% url explorer.views.trial_remove trial.id bucket.id %}';">Remove</a></li>
              {%if forloop.last %}</ul> {%endif%}
           {% endfor %}

           
           
<br/><br/><br/>
 </div>       <!-- end of trail action -->


{%endblock%}
