{% extends "explorer/base.html" %}
{% load explorer_display pagination_tags %}
{% block extra_js %}
<script type="text/javascript" src="/explorer/static/js/jquery.checkboxes.js"></script>
{% endblock %}
{% block content %}
<h3>Search Trials </h3>
<form action="{% url explorer.views.trial_search %}" method="POST">
<table>
<tr>

{% for field in form.visible_fields %}
{% ifequal forloop.counter 4 %}
</tr>
<tr>
{%endifequal%}
<td class="TdField">{{ field.label_tag }}</td>
<td class="TdValue">{{ field }}</td>
       {% endfor %}
<td colspan="2"><input type="submit" value="submit" /></td>
</tr>
</table>
 

</form>


{% if trials %}
<h3>Results</h3>
<script language="javascript">
function checkbox_clicked(obj){
   if(obj.checked){
	$("#trial_form").checkCheckboxes();	
   }else{
           	$("#trial_form").unCheckCheckboxes();
   }
}

function bucket_changed(obj){
   if(obj.value =="add new bucket"){
        $("#new_bucket_div").css({'display':'inline'}); 
   }else{
        $("#new_bucket_div").css({'display':'none'}); 
   }
}
</script>


<form action = "{% url explorer.views.trial_search_put %}" method="POST" id="trial_form" name ="trial_form">
<table>
<tr>
<th><input type="checkbox" id="select_all" onclick ="checkbox_clicked(this)" /></th>
<th>Name</th>
<th>Species</th>
<th>Primary Behavior</th>
<th>Food Type</th>
<th>Techniques</th>
<th>Muscle/Bone</th>
<th class="bucket_header">Buckets</th>
</tr>

{% autopaginate trials 50 %}
{% for trial in trials %}
<tr  class="{% cycle 'row1' 'row2' %}">
<td><input type="checkbox" name="{{trial.id}}" id="{{trial.id}}" class="check_trial" /></td>
<td><a href="{% url explorer.views.trial_detail trial.id %}">{{trial.title}}</a></td>
<td>{{trial.session.experiment.subject.taxon.genus}} {{trial.session.experiment.subject.taxon.species}}</td>
<td>{{trial.behavior_primary}}</td>
<td>{{trial.food_type}}</td>
<td>
{% display_technique trial  %}
</td>
<td>{% display_muscle trial  %}</td>
<td class="bucket_column">
{% for bucket in trial.bucket_set.all %}
{%ifequal bucket.created_by.id user.id %}
<a href="{% url explorer.views.bucket_detail bucket.id %}">{{bucket}}</a><br/>
{%endifequal %}
{% endfor %}
</td>
</tr>
{% endfor %}

<tr><th class="table_action" colspan = "8">Put selected records into my bucket: <select name="bucket" onchange="bucket_changed(this)">
<option value=""></option>
{% for bucket in user.bucket_related.all %}
<option value = "{{bucket.id}}" >{{bucket}}</option>
{%endfor%}
<option value = "add new bucket" >add new bucket</option>
</select>
<div id="new_bucket_div" style="display:none;">Enter name for the new bucket:<input name="new_bucket_name" size="20" /></div> 
<input type="submit" value="put" />
</th>
</tr>
</table>
</form>

<script language="javascript">
function gopage(page){
    var f= document.forms[0];
    f.action="{% url explorer.views.trial_search %}/?page=" + page;
    f.submit();	
}
</script>
{% paginate %}
{% else %}
<p>No trials found.</p>
{% endif %}

{% endblock %}
