{% extends "explorer/base.html" %}
{% load explorer_display %}
{% block content %}
<script type="text/javascript">
	$(function() {
		$("#accordion").accordion();
	});
	</script>

<h3>Trial: {{trial.title}}</h3>

<div class="left">
<div id="accordion">
<h3><a href="#">Study</a></h3>
<div>
        <table class="detail_table">
                <tr><td class='TdField'>Name</td><td class='TdValue'>{{trial.session.experiment.study.title}}</td></tr>
<tr><td class='TdField'>Start Date</td><td class='TdValue'>{{trial.session.experiment.study.start}}</td></tr>
<tr><td class='TdField'>End Date</td><td class='TdValue'>{{trial.session.experiment.study.end}}</td></tr>
<tr><td class='TdField'>Approval</td><td class='TdValue'>{{trial.session.experiment.study.approval_secured}}</td></tr>
<tr><td class='TdField'>Funding Acknowledgement</td><td class='TdValue'>{{trial.session.experiment.study.funding_agency}}</td></tr>
<tr><td class='TdField'>Description</td><td class='TdValue'>{{trial.session.experiment.study.description}}</td></tr>

 </table>
 </div>
 <h3><a href="#">Research Subject</a></h3>
 <div>
  <table class="detail_table">
     
 <tr><td class='TdField'>Subject Name</td><td class='TdValue'>{{trial.session.experiment.subject.name}}</td></tr>
<tr><td class='TdField'>Genus</td><td class='TdValue'>{{trial.session.experiment.subject.taxon.genus}}</td></tr>
<tr><td class='TdField'>Species</td><td class='TdValue'>{{trial.session.experiment.subject.taxon.species}}</td></tr>
<tr><td class='TdField'>Common Name</td><td class='TdValue'>{{trial.session.experiment.subject.taxon.common_name}}</td></tr>
<tr><td class='TdField'>Breed/Stain</td><td class='TdValue'>{{trial.session.experiment.subject.breed}}</td></tr>
<tr><td class='TdField'>Sex</td><td class='TdValue'>{{trial.session.experiment.subject.sex}}</td></tr>
<tr><td class='TdField'>Source</td><td class='TdValue'>{{trial.session.experiment.subject.source}}</td></tr>
<tr><td class='TdField'>Notes</td><td class='TdValue'>{{trial.session.experiment.subject.notes}}</td></tr>
<tr><td class='TdField'>Illustrations</td><td class='TdValue'>
	<table>
	{% for illustration in trial.session.experiment.subject.illustration_set.all %}
	  <tr><td>{%display_file illustration.picture %}</td>
	  <td>{{illustration.notes}}</td>
	  </tr>
	{%endfor%}
	</table>
	
</td></tr>
 </table>
 </div>
<h3><a href="#">Experiment</a></h3>
<div> 
   <table class="detail_table">
                
<tr><td class='TdField'>Title</td><td class='TdValue'>{{trial.session.experiment.title}}</td></tr>
               <tr><td class='TdField'>Developmental Stage</td><td class='TdValue'>{{trial.session.experiment.subj_devstage}}</td></tr>
<tr><td class='TdField'>Instrumentation Note</td><td class='TdValue'>{{trial.session.experiment.impl_notes}}</td></tr>
<tr><td class='TdField'>Start Date</td><td class='TdValue'>{{trial.session.experiment.start}}</td></tr>
<tr><td class='TdField'>End Date</td><td class='TdValue'>{{trial.session.experiment.end}}</td></tr>
<tr><td class='TdField'>Age of Animal</td><td class='TdValue'>{{trial.session.experiment.subj_age}}</td></tr>
<tr><td class='TdField'>Body Weight</td><td class='TdValue'>{{trial.session.experiment.subj_weight}}</td></tr>
<tr><td class='TdField'>Notes about Animal</td><td class='TdValue'>{{trial.session.experiment.subj_notes}}</td></tr>
<tr><td class='TdField'>Tooth Development </td><td class='TdValue'>{{trial.session.experiment.subj_tooth}}</td></tr>
<tr><td class='TdField'>Illustrations</td><td class='TdValue'>
	<table>
	{% for illustration in trial.session.experiment.illustration_set.all %}
	  <tr><td>{%display_file illustration.picture %}</td>
	  <td>{{illustration.notes}}</td>
	  </tr>
	{%endfor%}
	</table>
	
</td></tr>
</table>
  </div>
<h3><a href="#">Recording Session</a></h3>
<div> 
                <table class="detail_table">
                
                <tr><td class='TdField'>Start</td><td class='TdValue'>{{trial.session.start}}</td></tr>
<tr><td class='TdField'>End</td><td class='TdValue'>{{trial.session.end}}</td></tr>
<tr><td class='TdField'>Recording Session Order</td><td class='TdValue'>{{trial.session.position}}</td></tr>
<tr><td class='TdField'>Subject Anesthesia/Sedation</td><td class='TdValue'>{{trial.session.subj_anesthesia_sedation}}</td></tr>
<tr><td class='TdField'>Subject Restaint Method</td><td class='TdValue'>{{trial.session.subj_restraint}}</td></tr>
<tr><td class='TdField'>Subject Notes</td><td class='TdValue'>{{trial.session.subj_notes}}</td></tr>

                </table>
  </div>
<h3><a href="#">Trial</a></h3>
<div> 
                <table class="detail_table">                
<tr><td class='TdField'>Trial Name </td><td class='TdValue'>{{trial.title }}</td></tr>
<tr><td class='TdField'>Trial Number</td><td class='TdValue'>{{trial.position }}</td></tr>
               <tr><td class='TdField'>Primary Behavior </td><td class='TdValue'>{{trial.behavior_primary }}</td></tr>
<tr><td class='TdField'>Secondary Behaviors</td><td class='TdValue'>{{trial.behavior_secondary }}</td></tr>
<tr><td class='TdField'>Behavior Notes</td><td class='TdValue'>{{trial.behavior_notes }}</td></tr>
<tr><td class='TdField'>Duration (hh:min) </td><td class='TdValue'>{{trial.claimed_duration}}</td></tr>
<tr><td class='TdField'>Food Type(s)</td><td class='TdValue'>{{trial.food_type }}</td></tr>
<tr><td class='TdField'>Food Size</td><td class='TdValue'>{{trial.food_size }}</td></tr>
<tr><td class='TdField'>Material Properties of Food</td><td class='TdValue'>{{trial.food_property }}</td></tr>
<tr><td class='TdField'>Experimental Treatment</td><td class='TdValue'>{{trial.subj_treatment }}</td></tr>
<tr><td class='TdField'>Subject Notes</td><td class='TdValue'>{{trial.subj_notes}}</td></tr>
<tr><td class='TdField'>Waveform</td><td class='TdValue'>{%display_file trial.waveform_picture %}</td></tr>

                </table>
  </div>
<h3><a href="#">Setups</a></h3>
<div> 
<table class="detail_table">
                <tr>
                <th>ID</th>
               <th>Technique</th>
                <th>Sampling Rate</th>
                <th>EMG Preamplifier</th>
                <th>Sono Micrometer</th>
                <th>Notes</th>
                <th>Illustrations</th>
                </tr>
                 
{% for setup in trial.session.experiment.setup_set.all %}
<tr  class="{% cycle 'row1' 'row2' %}">
      <td>{{setup.id}}</td>
                 <td>{{setup.technique}}</td>
				 <td>{{setup.sampling_rate|default_if_none:""}}</td>
				 <td>
				  {% ifequal setup.technique.label 'EMG' %}
                       {{setup.emgsetup.preamplifier|default_if_none:""}}                           
                  {%endifequal%}
                   {% ifequal setup.technique.label 'Sono' %}
                       {{setup.sonosetup.sonomicrometer|default_if_none:""}}
                  {%endifequal%}
				  </td>
				  
				  
				  <td>{{setup.notes|default_if_none:""|truncatewords:50}}</td>
				  <td>
				  		<table>
	{% for illustration in setup.illustration_set.all %}
	  <tr><td>{%display_file illustration.picture %}</td>
	  <td>{{illustration.notes}}</td>
	  </tr>
	{%endfor%}
	</table>
				  </td>
                  
</tr>
{%endfor %}
                </table>
				             
  </div>
<h3><a href="#">Sensors</a></h3>
<div>
<table class="detail_table">
                <tr>
                <th>ID</th>
				<th>Setup ID</th>
               <th>Name</th>
                <th>Location</th>
                <th>Side</th>
                <th>AP</th>
                <th>DV</th>
                <th>PD</th>
				<th>ML</th>
				<th>Axis Depth</th>
				<th>Electrode Type</th>
				<th>Nodes</th>
                </tr>
                 
{% for setup in trial.session.experiment.setup_set.all %}
{% for sensor in setup.sensor_set.all|dictsort:"name" %}
<tr  class="{% cycle 'row1' 'row2' %}">
	<td>{{sensor.id}}</td>
    <td>{{setup.id}}</td>
    <td>{{sensor.name}}</td>
	<td>
	  {% ifequal setup.technique.label "EMG" %}
                {{sensor.emgsensor.location_controlled}}                           
      {% endifequal %}
	  {%ifequal setup.technique.label "Sono" %}
                {{sensor.sonosensor.location_controlled}} 
	  {% endifequal %}
	  {% ifnotequal setup.technique.label "EMG" %}
	      {%ifnotequal setup.technique.label "Sono" %}
	   	        {{sensor.location_freetext}} 
		  {%endifnotequal%}
	  {%endifnotequal%}	  
      
 	</td>
    <td>{{sensor.loc_side|default_if_none:""}}</td>
    <td>{{sensor.loc_ap|default_if_none:""}}</td>
	<td>{{sensor.loc_dv|default_if_none:""}}</td>
	<td>{{sensor.loc_pd|default_if_none:""}}</td>
	<td>{{sensor.loc_ml|default_if_none:""}}</td>
		  {% ifequal setup.technique.label "EMG" %}
                 <td>{{sensor.emgsensor.axisdepth|default_if_none:""}}</td>     
		 <td>{{sensor.emgsensor.electrode_type|default_if_none:""}}</td>                           
      {% endifequal %}
	  {%ifequal setup.technique.label "Sono" %}
                <td>{{sensor.sonosensor.axisdepth|default_if_none:""}}</td>     
		 <td></td> 
	  {% endifequal %}
	  {% ifnotequal setup.technique.label "EMG" %}
	      {%ifnotequal setup.technique.label "Sono" %}
	   	         <td></td>
		  <td></td>
		  {%endifnotequal%}
	  {%endifnotequal%}	  
	<td>{{sensor.notes|truncatewords:50|default_if_none:""}}</td>
	              
</tr>
{%endfor %}
{%endfor %}
                </table>
  </div>
<h3><a href="#">Channels</a></h3>
<div>				
<table class="detail_table">
                <tr>
                <th>Order</th>
               <th>Name</th>
			   <th>Technique</th>
            <th>Recording Rate</th>
			    <th>Unit</th>
				<th>Sensor 1</th>
                <th>Sensor 2</th>
                <th>EMG Filtering</th>
                <th>EMG Amplification</th>
			</tr>
                 
{% for lineup in trial.session.channellineup_set.all %}
<tr  class="{% cycle 'row1' 'row2' %}">
      <td>{{lineup.position}}</td>
                 <td>{{lineup.channel.name}}</td>
                 <td>{{lineup.channel.setup.technique}}</td>
				  <td>{{lineup.channel.rate|default_if_none:""}}</td>
				    
				  {% ifequal lineup.channel.setup.technique.label "EMG" %}
				     <td>{{lineup.channel.emgchannel.unit|default_if_none:""}}</td>   
                     <td>{{lineup.channel.emgchannel.sensor.id}}</td> 
					 <td></td>
					 <td>{{lineup.channel.emgchannel.emg_filtering|default_if_none:""}}</td> 
					 <td>{{lineup.channel.emgchannel.emg_amplification|default_if_none:""}}</td>                           
                  {% endifequal %}
	              {%ifequal lineup.channel.setup.technique.label "Sono" %}
				     <td>{{lineup.channel.sonochannel.unit|default_if_none:""}}</td>   
                     <td>{{lineup.channel.sonochannel.crystal1.id}}</td> 
					 <td>{{lineup.channel.sonochannel.crystal2.id}}</td>
					 <td></td> 
					 <td></td> 
				  {% endifequal %}
	              
	              {%ifequal lineup.channel.setup.technique.label "Bone strain" %}
                     <td>{{lineup.channel.strainchannel.sensor.id}}</td> 
					 <td></td>
					 <td></td> 
					 <td></td> 
				  {% endifequal %}	  
 
	              {%ifequal lineup.channel.setup.technique.label "Bite force" %}
                     <td>{{lineup.channel.forcechannel.unit|default_if_none:""}}</td>     
		             <td>{{lineup.channel.forcechannel.sensor.id}}</td> 
					 <td></td>
					 <td></td> 
					 <td></td> 
				  {% endifequal %}	                    
	              {%ifequal lineup.channel.setup.technique.label "Pressure" %}
                     <td>{{lineup.channel.pressurechannel.unit|default_if_none:""}}</td>     
		             <td>{{lineup.channel.pressurechannel.sensor.id}}</td> 
					 <td></td>
					 <td></td> 
					 <td></td> 
				  {% endifequal %}	
	              {%ifequal lineup.channel.setup.technique.label "Kinematics" %}
                     <td>{{lineup.channel.kinematicschannel.unit|default_if_none:""}}</td>     
		             <td>{{lineup.channel.kinematicschannel.sensor.id}}</td> 
					 <td></td>
					 <td></td> 
					 <td></td> 
				  {% endifequal %}					  
</tr>
{%endfor %}
                </table>
				</div>
				</div>
</div> <!-- end of left -->
         <div class="right">
<script language="javascript">

function bucket_changed(obj){
   if(obj.value =="add new bucket"){
        $("#new_bucket_div").css({'display':'inline'}); 
   }else{
        $("#new_bucket_div").css({'display':'none'}); 
   }
}
</script>

Put this trial into my bucket: <form action="{% url explorer.views.trial_add trial.id %} " method="POST">
<select name="bucket_id" onchange="bucket_changed(this)">
<option value=""></option>
{% for bucket in user.bucket_related.all %}
<option value = "{{bucket.id}}" >{{bucket}}</option>
{%endfor%}
<option value = "add new bucket" >add new bucket</option>
</select>
<div id="new_bucket_div" style="display:none;"><br/>Enter name for the new bucket:<input name="new_bucket_name" size="20" /></div> 
<input type="submit" value="put" />
</form>
<br/><br/><br/>

           
           {% for bucket in trial.bucket_set.all %}
            {%if forloop.first %}This trial is in following bucket(s):<br/><ul> {%endif%}
            {%ifequal bucket.created_by.id user.id %}
                <li>{{bucket}} <a title="remove the trial from this bucket" href="javascript: if(confirm('Do you really want to remove this trial from the bucket:{{bucket}}?')==true)window.location.href='{% url explorer.views.trial_remove trial.id bucket.id %}';">Remove</a></li>
            {%endifequal%}  
            {%if forloop.last %}</ul> {%endif%}
           {% endfor %}

           
           
<br/><br/><br/>
 </div>       <!-- end of trail action -->


{%endblock%}
