{% load display i18n %}

<fieldset class="module aligned {{ fieldset.classes }}">
  {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
  {% if fieldset.description %}<div class="description">{{ fieldset.description|safe }}</div>{% endif %}
  {% for line in fieldset %}
           
	  {% for field in line %}
      {# custom error display so we can use bootstrap markup #}
      {% if field.field.errors %}
        <div class="row">
          {% for error in field.field.errors %}
            <div class="col-xs-8 col-xs-offset-3">
              <p class="error-text"><span class="glyphicon glyphicon-asterisk"></span>{{ error }}</p>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% if field.field.field.widget.is_hidden %}{{ field.field }}{%else%}
    
	  <div class="row{% if line.errors %} errors{% endif %}">
      <div class="{% if not line.fields|length_is:"1" %} field-box{% endif %}">
        {% if field.is_checkbox %}
		    <div class="col-xs-3">{{ field.field }}{{ field.label_tag }}{%if field.field.field.required %}*{%endif%}
		    </div>
        {% else %}
        <div class="col-xs-3">
        {%if field.field.field.required %}<span class="glyphicon glyphicon-asterisk"></span> {%endif%}{{ field.label_tag }}
        </div>
        <div class="col-xs-8">
          <span>
      		  {{ field.field }}
      		</span>
        </div>
        {% endif %}
        {% if field.field.field.help_text %}<p class="help">{{ field.field.field.help_text|safe }}</p>{% endif %}
      </div>
    </div>
    {% endif %}
	  {% endfor %}
      
  {% endfor %}
</fieldset>
