

/* PAGE STRUCTURE */

#container {
    position: relative;
    min-width: 760px;
    padding: 0;
    margin: 0 auto 0 auto; /*this is what centers the pages in the middle of the screen */
    width: 1000px;
    border-left: 1px solid #417690;
    border-right: 1px solid #417690;
}

#content {
    margin: 10px 15px;
    min-height: 500px;
}

#footer {
    background: #417690;
    clear: both;
    padding: 10px;
    color: #fff;
    text-align:center;
}

#footer a:link, #footer a:visited {
    color: white;
}

.action {
width: 100px;
    padding: 0;

}

.action a{
width: 80px;
padding: 5px;
}

.action_header {
    text-align: center;
    width: 80px;
    padding: 0;
}

table{
  border: #EDF3FE 1px solid;
}

table caption {
     text-align:left; 
     font-size:14px; 
     font-weight:bold; 
     background-color:#EDF3FE; 
     color:#FFFFFF; 
    padding:5px; 
}

td {
  border-bottom: #EDF3FE 1px solid;
  line-height:22px;
}

.left {
 width: 700px;
 float: left;
 padding-right: 5px;
  
}


.right {
 width: 250px;
 float: right;
 background-color:#EDF3FE; 
 padding: 5px;
 
}




.menu_div{
 position: relative;
 z-index: 1000;
}

.content{
 position: relative;
 z-index: 1;
}

/* OBJECT TOOLS */

.object-tools-top {
    margin-top: .4em;
    margin-bottom: .2em; 
    
    clear: both;
}

fieldset{
min-width: 650px;
clear: both;
}

.inline-group {
    width: 960px;
    overflow: auto;
}

#footer table {
  border: none;
  width:100%;
}

#footer table tr td{
  border: none;
}