{% load display i18n %}
<fieldset class="module aligned {{ fieldset.classes }}">

  {% for line in fieldset %}
      <div class="form-row{% if line.errors %} errors{% endif %} {% for field in line %}{{ field.field.name }} {% endfor %} " >
      {% for field in line %}
      <div{% if not line.fields|length_is:"1" %} class="field-box"{% endif %} >
          {{ field.label_tag }} {% display_readonly field inline_admin_form %}
      </div>
      {% endfor %}
      </div>
  {% endfor %}
</fieldset>
