
{% ifequal object_id None %}
      {%if context_object %}
	          {% ifequal object_name "Experiment" %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{context_object.study.id}}"> {{context_object.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
     {% ifequal object_name "SonoSetup" %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{context_object.experiment.study.id}}"> {{context_object.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{context_object.experiment.id}}"> {{context_object.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
     {% ifequal object_name "EmgSetup" %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{context_object.experiment.study.id}}"> {{context_object.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{context_object.experiment.id}}"> {{context_object.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
	 {% ifequal object_name "ForceSetup" %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{context_object.experiment.study.id}}"> {{context_object.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{context_object.experiment.id}}"> {{context_object.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
	 {% ifequal object_name "StrainSetup" %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{context_object.experiment.study.id}}"> {{context_object.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{context_object.experiment.id}}"> {{context_object.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
	 {% ifequal object_name "PressureSetup" %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{context_object.experiment.study.id}}"> {{context_object.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{context_object.experiment.id}}"> {{context_object.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
	 {% ifequal object_name "KinematicsSetup" %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{context_object.experiment.study.id}}"> {{context_object.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{context_object.experiment.id}}"> {{context_object.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}

     {% ifequal object_name "Session" %}
	     <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{context_object.experiment.study.id}}"> {{context_object.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{context_object.experiment.id}}"> {{context_object.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;		  
     {% endifequal %}
     
		<b>{{object_name}}</b>: <a href="/admin/{{ app_label}}/{{object_name|lower}}/{{context_object.id}}"> {{context_object|capfirst|escape|truncatewords:"18" }}</a> 
	  {%endif%}
{% else %}
     {% ifequal opts.object_name "Trial" %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{adminform.form.instance.session.experiment.study.id}}"> {{adminform.form.instance.session.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{adminform.form.instance.session.experiment.id}}"> {{adminform.form.instance.session.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Session</b>: <a href="/admin/{{ app_label}}/session/{{adminform.form.instance.session.id}}"> {{adminform.form.instance.session|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
     {% ifequal opts.object_name "ChannelLineup" %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{adminform.form.instance.session.experiment.study.id}}"> {{adminform.form.instance.session.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{adminform.form.instance.session.experiment.id}}"> {{adminform.form.instance.session.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Session</b>: <a href="/admin/{{ app_label}}/session/{{adminform.form.instance.session.id}}"> {{adminform.form.instance.session|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
     {% ifequal opts.object_name "Channel" %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{adminform.form.instance.setup.experiment.study.id}}"> {{adminform.form.instance.setup.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{adminform.form.instance.setup.experiment.id}}"> {{adminform.form.instance.setup.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         {% ifequal adminform.form.instance.setup.technique|lower "emg" %}
                 <a href="/admin/{{ app_label}}/emgsetup/{{adminform.form.instance.setup.id}}"> {{adminform.form.instance.setup|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         {% endifequal %}
         {% ifequal adminform.form.instance.setup.technique|lower "sono" %}
                 <a href="/admin/{{ app_label}}/sonosetup/{{adminform.form.instance.setup.id}}"> {{adminform.form.instance.setup|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         {% endifequal %}
     {% endifequal %}
     {% ifequal opts.object_name "Session" %}
	     {%if experiment %}
		 <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{experiment.study.id}}"> {{experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{experiment.id}}"> {{experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
		 {%else%}
		 <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{adminform.form.instance.experiment.study.id}}"> {{adminform.form.instance.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{adminform.form.instance.experiment.id}}"> {{adminform.form.instance.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
		
         {%endif%}
         
     {% endifequal %}
     {% if sessionformset %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{experiment.study.id}}"> {{experiment.study.name|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{experiment.id}}"> {{experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endif %}
     {% ifequal opts.object_name "Experiment" %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{adminform.form.instance.study.id}}"> {{adminform.form.instance.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
	 {% ifequal opts.object_name "EmgSetup" %}
	     <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{adminform.form.instance.experiment.study.id}}"> {{adminform.form.instance.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{adminform.form.instance.experiment.id}}"> {{adminform.form.instance.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
     {% ifequal opts.object_name "EmgSensor" %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{adminform.form.instance.setup.experiment.study.id}}"> {{adminform.form.instance.setup.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{adminform.form.instance.setup.experiment.id}}"> {{adminform.form.instance.setup.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>EmgSetup</b>: <a href="/admin/{{ app_label}}/emgsetup/{{adminform.form.instance.setup.id}}"> {{adminform.form.instance.setup|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
     {% ifequal opts.object_name "EmgChannel" %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{adminform.form.instance.setup.experiment.study.id}}"> {{adminform.form.instance.setup.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{adminform.form.instance.setup.experiment.id}}"> {{adminform.form.instance.setup.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>EmgSetup</b>: <a href="/admin/{{ app_label}}/emgsetup/{{adminform.form.instance.setup.id}}"> {{adminform.form.instance.setup|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
	 
	 {% ifequal opts.object_name "StrainSetup" %}
	     <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{adminform.form.instance.experiment.study.id}}"> {{adminform.form.instance.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{adminform.form.instance.experiment.id}}"> {{adminform.form.instance.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
     {% ifequal opts.object_name "StrainSensor" %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{adminform.form.instance.setup.experiment.study.id}}"> {{adminform.form.instance.setup.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{adminform.form.instance.setup.experiment.id}}"> {{adminform.form.instance.setup.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>StrainSetup</b>: <a href="/admin/{{ app_label}}/strainsetup/{{adminform.form.instance.setup.id}}"> {{adminform.form.instance.setup|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
     {% ifequal opts.object_name "StrainChannel" %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{adminform.form.instance.setup.experiment.study.id}}"> {{adminform.form.instance.setup.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{adminform.form.instance.setup.experiment.id}}"> {{adminform.form.instance.setup.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>StrainSetup</b>: <a href="/admin/{{ app_label}}/strainsetup/{{adminform.form.instance.setup.id}}"> {{adminform.form.instance.setup|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
	 
	 
	 {% ifequal opts.object_name "ForceSetup" %}
	     <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{adminform.form.instance.experiment.study.id}}"> {{adminform.form.instance.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{adminform.form.instance.experiment.id}}"> {{adminform.form.instance.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
     {% ifequal opts.object_name "ForceSensor" %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{adminform.form.instance.setup.experiment.study.id}}"> {{adminform.form.instance.setup.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{adminform.form.instance.setup.experiment.id}}"> {{adminform.form.instance.setup.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>ForceSetup</b>: <a href="/admin/{{ app_label}}/forcesetup/{{adminform.form.instance.setup.id}}"> {{adminform.form.instance.setup|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
     {% ifequal opts.object_name "ForceChannel" %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{adminform.form.instance.setup.experiment.study.id}}"> {{adminform.form.instance.setup.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{adminform.form.instance.setup.experiment.id}}"> {{adminform.form.instance.setup.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>ForceSetup</b>: <a href="/admin/{{ app_label}}/forcesetup/{{adminform.form.instance.setup.id}}"> {{adminform.form.instance.setup|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}


	 {% ifequal opts.object_name "PressureSetup" %}
	     <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{adminform.form.instance.experiment.study.id}}"> {{adminform.form.instance.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{adminform.form.instance.experiment.id}}"> {{adminform.form.instance.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
     {% ifequal opts.object_name "PressureSensor" %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{adminform.form.instance.setup.experiment.study.id}}"> {{adminform.form.instance.setup.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
        <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{adminform.form.instance.setup.experiment.id}}"> {{adminform.form.instance.setup.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>PressureSetup</b>: <a href="/admin/{{ app_label}}/pressuresetup/{{adminform.form.instance.setup.id}}"> {{adminform.form.instance.setup|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
     {% ifequal opts.object_name "PressureChannel" %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{adminform.form.instance.setup.experiment.study.id}}"> {{adminform.form.instance.setup.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{adminform.form.instance.setup.experiment.id}}"> {{adminform.form.instance.setup.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>PressureSetup</b>: <a href="/admin/{{ app_label}}/pressuresetup/{{adminform.form.instance.setup.id}}"> {{adminform.form.instance.setup|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
	 
	 {% ifequal opts.object_name "KinematicsSetup" %}
	     <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{adminform.form.instance.experiment.study.id}}"> {{adminform.form.instance.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{adminform.form.instance.experiment.id}}"> {{adminform.form.instance.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
     {% ifequal opts.object_name "KinematicsSensor" %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{adminform.form.instance.setup.experiment.study.id}}"> {{adminform.form.instance.setup.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{adminform.form.instance.setup.experiment.id}}"> {{adminform.form.instance.setup.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>KinematicsSetup</b>: <a href="/admin/{{ app_label}}/kinematicssetup/{{adminform.form.instance.setup.id}}"> {{adminform.form.instance.setup|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
     {% ifequal opts.object_name "KinematicsChannel" %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{adminform.form.instance.setup.experiment.study.id}}"> {{adminform.form.instance.setup.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{adminform.form.instance.setup.experiment.id}}"> {{adminform.form.instance.setup.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>KinematicsSetup</b>: <a href="/admin/{{ app_label}}/kinematicssetup/{{adminform.form.instance.setup.id}}"> {{adminform.form.instance.setup|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}	 
	 
     {% ifequal opts.object_name "SonoSensor" %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{adminform.form.instance.setup.experiment.study.id}}"> {{adminform.form.instance.setup.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{adminform.form.instance.setup.experiment.id}}"> {{adminform.form.instance.setup.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>SonoSetup</b>: <a href="/admin/{{ app_label}}/sonosetup/{{adminform.form.instance.setup.id}}"> {{adminform.form.instance.setup|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
     {% ifequal opts.object_name "SonoChannel" %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{adminform.form.instance.setup.experiment.study.id}}"> {{adminform.form.instance.setup.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{adminform.form.instance.setup.experiment.id}}"> {{adminform.form.instance.setup.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>SonoSetup</b>: <a href="/admin/{{ app_label}}/sonosetup/{{adminform.form.instance.setup.id}}"> {{adminform.form.instance.setup|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
     {% ifequal opts.object_name "SonoSetup" %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{adminform.form.instance.experiment.study.id}}"> {{adminform.form.instance.experiment.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
         <b>Experiment</b>: <a href="/admin/{{ app_label}}/experiment/{{adminform.form.instance.experiment.id}}"> {{adminform.form.instance.experiment|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
     {% ifequal opts.object_name "Subject" %}
         <b>Study</b>: <a href="/admin/{{ app_label}}/study/{{adminform.form.instance.study.id}}"> {{adminform.form.instance.study|capfirst|escape|truncatewords:"18" }}</a> &raquo;
     {% endifequal %}
    <b>{{opts.object_name}}</b>: {{adminform.form.instance|capfirst|escape|truncatewords:"18" }}
{% endifequal %}

