{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load feedmedia %}{% app_static_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
 

<h3><a href="/admin/feed/study/add">Add a new study</a></h3>   

{% for o in user.study_related.all %}
{% if forloop.first %}
<h3>Your studies:</h3>
<ul>
{%endif%}
    <li><a href="/admin/feed/study/{{o.id}}">{{o}}</a></li>
{% if forloop.last %}
</ul>
{%endif%}

{%endfor%}


{% for o in user.experiment_related.all %}
{% if forloop.first %}
<h3>Your experiments:</h3>
<ul>
{%endif%}
    <li><a href="/admin/feed/experiment/{{o.id}}">{{o}}</a></li>
{% if forloop.last %}
</ul>
{%endif%}
{%endfor%}

{% for o in user.session_related.all %}
{% if forloop.first %}
<h3>Your recording sessions:</h3>
<ul>
{%endif%}
    <li><a href="/admin/feed/session/{{o.id}}">{{o}}</a></li>
{% if forloop.last %}
</ul>
{%endif%}
{%endfor%}

{% for o in user.trial_related.all %}
{% if forloop.first %}
<h3>Your trials:</h3>
<ul>
{%endif%}
    <li><a href="/admin/feed/trial/{{o.id}}">{{o}}</a></li>
{% if forloop.last %}
</ul>
{%endif%}
{%endfor%}


</div>
{% endblock %}

{% block sidebar %}

{% endblock %}
