{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{% load adminmedia %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/login.css" />{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}
<div id="content-main">
<h1>About</h1>
<p>Feeding, critical to survival, is an integrated function involving numerous craniofacial structures. 
Changes in these structures are a significant part of the evolution and diversification of mammals. 
Our understanding of mammalian craniofacial evolution rests, in part, on functional studies of the motor patterns of craniofacial 
muscles during feeding, and of the movements and forces within the feeding apparatus. A number of researchers have collected 
large data sets of motor patterns of feeding muscles and the associated movements and forces from the jaws and hyolaryngeal apparatus. 
Such data address fundamental questions about the evolution, functional morphology, and development of the mammalian head. Despite 
significant datasets and collegiality amongst workers, inter-specific studies of neuromotor evolution are rare because of the lack of a master database. 
The overarching goal of the working group is to develop a database of physiologic data on feeding in mammals through three specific aims: 
<ul>
<li> combine existing EMG, kinematic, and bone strain data for at least 36 mammalian species in 10 orders into a database; </li>
<li> generate operational strategies for studying key scientific questions about neuromotor evolution and constraint, craniofacial evolution, and feeding behavior with the database; </li>
<li> test hypotheses about the evolution and conservation of motor pattern in mammals. </li>
</ul>

This will be the first major database of neuromuscular data to be constructed. It will be a significant tool for studying the evolution of the mammalian feeding apparatus, 
and will be a model for future study of the evolution of functional systems and neuromotor evolution.
</p>
<h2>Login</h2>

<form action="{{ app_path }}" method="post" id="login-form">
  <div class="form-row">
    <label for="id_username">{% trans 'Username:' %}</label> <input type="text" name="username" id="id_username" />
  </div>
  <div class="form-row">
    <label for="id_password">{% trans 'Password:' %}</label> <input type="password" name="password" id="id_password" />
    <input type="hidden" name="this_is_the_login_form" value="1" />
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}
