   
<div class="navigation">
{% if user.is_authenticated %}

<h2>Trial</h2>
<ul>
<li><a href="/admin/feed/trial/?created_by={{user.pk}}">My Trials</a></li>
<li><a href="/admin/feed/trial/">Search</a></li>
<li><a href="/admin/feed/trial/add">Add</a></li>
</ul> 

<h2>Recording Session</h2>
<ul>
<li><a href="/admin/feed/session/?created_by={{user.pk}}">My Recording Sessions</a></li>
<li><a href="/admin/feed/session/">Search</a></li>
<li><a href="/admin/feed/session/add">Add</a></li>
</ul> 


<h2>Experiment</h2>
<ul class="bullet">
<li><a href="/admin/feed/experiment/?created_by={{user.pk}}">My Experiments</a></li>
<li><a href="/admin/feed/experiment">Search</a></li>
<li><a href="/admin/feed/experiment/add">Add</a></li>
</ul> 



<h2>Research Subject</h2>
<ul>
<li><a href="/admin/feed/subject/?created_by={{user.pk}}">My Research Subjects</a></li>
<li><a href="/admin/feed/subject">Search</a></li>
<li><a href="/admin/feed/subject/add">Add</a></li>
</ul> 


<h2>Study</h2>
<ul>
<li><a href="/admin/feed/study/?created_by={{user.pk}}">My Studies</a></li>
<li><a href="/admin/feed/study/">Search</a></li>
<li><a href="/admin/feed/study/add">Add</a></li>
</ul> 

<h2>Terms</h2>
<ul>
<li><a href="/admin/feed/taxon/">Taxon</a></li>
<li><a href="/admin/feed/technique/">Technique</a></li>
<li><a href="/admin/feed/behavior/">Behavior</a></li>
<li><a href="/admin/feed/muscle/">Muscle</a></li>
<li><a href="/admin/feed/side/">Side</a></li>
<li><a href="/admin/feed/restraint/">Restraint</a></li>
<li><a href="/admin/feed/electrodetype/">Electrode type</a></li>
<li><a href="/admin/feed/developmentstage/">Development stage</a></li>
<li><a href="/admin/feed/anteriorposterioraxis/">Anterior-posterior axis</a></li>
<li><a href="/admin/feed/dorsalventralaxis/">Dorsal-ventral axis</a></li>
<li><a href="/admin/feed/depthaxis/">Depth axis</a></li>

</ul> 

{% if user.is_superuser %}
<h2>Group</h2>
<ul>
<li><a href="/admin/auth/group/">Search</a></li>
<li><a href="/admin/auth/group/add/">Add</a></li>
</ul>
<h2>User</h2>
<ul>
<li><a href="/admin/auth/user/">Search</a></li>
<li><a href="/admin/auth/user/add">Add</a></li>
</ul> 
{% endif %}
{% else %}
<ul>
<li><a href="/admin">Login</a></li>
</ul>
{% endif %}
</div>
