   
<div class="navigation">
{% if user.is_authenticated %}

<h2>Studies</h2>
<ul>
<li><a href="{%url admin:feed_study_changelist %}">All</a></li>  
<li><a href="{%url admin:feed_study_changelist %}?created_by={{user.pk}}">Mine</a></li>
<li><a href="{%url admin:feed_study_add %}">Add</a></li>
</ul> 

<h2>Experiments</h2>
<ul class="bullet">
<li><a href="{%url admin:feed_experiment_changelist %}">All</a></li>
<li><a href="{%url admin:feed_experiment_changelist %}?created_by={{user.pk}}">Mine</a></li>
</ul> 

<h2>Recording Sessions</h2>
<ul>
<li><a href="{%url admin:feed_session_changelist %}">All</a></li>
<li><a href="{%url admin:feed_session_changelist %}?created_by={{user.pk}}">Mine</a></li>
</ul> 

<h2>Trials</h2>
<ul>
<li><a href="{%url admin:feed_trial_changelist %}">All</a></li>
<li><a href="{%url admin:feed_trial_changelist %}?created_by={{user.pk}}">Mine</a></li>
</ul> 


<h2>Individual Subjects</h2>
<ul>
<li><a href="{%url admin:feed_subject_changelist %}">All</a></li>
<li><a href="{%url admin:feed_subject_changelist %}?created_by={{user.pk}}">Mine</a></li>
</ul> 

<br/>

<h2>Species</h2>
<ul>
<li><a href="{%url admin:feed_taxon_changelist %}">All Taxa</a></li>
</ul>


<h2>Controlled Terms</h2>
<ul>
<li><a href="{%url admin:feed_developmentstage_changelist %}">Development stages</a></li>
<li><a href="{%url admin:feed_restraint_changelist %}">Restraints</a></li>
<li><a href="{%url admin:feed_electrodetype_changelist %}">Electrode types</a></li>
<li><a href="{%url admin:feed_anatomicallocation_changelist %}">Anatomical Locations</a></li>
<li><a href="{%url admin:feed_side_changelist %}">Sides</a></li>
<li><a href="{%url admin:feed_anteriorposterioraxis_changelist %}">AP axis</a></li>
<li><a href="{%url admin:feed_dorsalventralaxis_changelist %}">DV axis</a></li>
<li><a href="{%url admin:feed_proximaldistalaxis_changelist %}">PD axis</a></li>
<li><a href="{%url admin:feed_mediallateralaxis_changelist %}">ML axis</a></li>
<li><a href="{%url admin:feed_depthaxis_changelist %}">Depth axis</a></li>
<li><a href="{%url admin:feed_behavior_changelist %}">Behaviors</a></li>
<li><a href="{%url admin:feed_emgfiltering_changelist %}">EMG filtering</a></li>
<li><a href="{%url admin:feed_unit_changelist %}">Units</a></li>
</ul> 

{% if user.is_superuser %}
<h2>Group</h2>
<ul>
<li><a href="{%url admin:auth_group_changelist %}">All</a></li>
<li><a href="{%url admin:auth_group_add %}">Add</a></li>
</ul>
<h2>User</h2>
<ul>
<li><a href="{%url admin:auth_user_changelist %}">All</a></li>
<li><a href="{%url admin:auth_user_add %}">Add</a></li>
</ul> 
{% endif %}
<h2>Bug Report</h2>
<ul>
<li><a href="mailto: feeding-bugs@nescent.org">Send bug report</a></li>
</ul>
{% else %}
<ul>
<li><a href="{{login_url}}">Login</a></li>
</ul>
{% endif %}
</div>
