   
<div class="navigation">
{% if user.is_authenticated %}

<h2>Studies</h2>
<ul>
<li><a href="/admin/feed/study/">All</a></li>
<li><a href="/admin/feed/study/?created_by={{user.pk}}">Mine</a></li>
<li><a href="/admin/feed/study/add">Add</a></li>
</ul> 

<h2>Experiments</h2>
<ul class="bullet">
<li><a href="/admin/feed/experiment">All</a></li>
<li><a href="/admin/feed/experiment/?created_by={{user.pk}}">Mine</a></li>
<!-- li><a href="/admin/feed/experiment/add">Add</a></li -->
</ul> 

<h2>Recording Sessions</h2>
<ul>
<li><a href="/admin/feed/session/">All</a></li>
<li><a href="/admin/feed/session/?created_by={{user.pk}}">Mine</a></li>
<!-- li><a href="/admin/feed/session/add">Add</a></li -->
</ul> 

<h2>Trials</h2>
<ul>
<li><a href="/admin/feed/trial/">All</a></li>
<li><a href="/admin/feed/trial/?created_by={{user.pk}}">Mine</a></li>
<!-- li><a href="/admin/feed/trial/add">Add</a></li -->
</ul> 


<h2>Individual Subjects</h2>
<ul>
<li><a href="/admin/feed/subject">All</a></li>
<li><a href="/admin/feed/subject/?created_by={{user.pk}}">Mine</a></li>
<!-- li><a href="/admin/feed/subject/add">Add</a></li -->
</ul> 

<br/>

<h2>Species</h2>
<ul>
<li><a href="/admin/feed/taxon/">All Taxa</a></li>
</ul>


<h2>Controlled Terms</h2>
<ul>
<li><a href="/admin/feed/technique/">Techniques</a></li>
<li><a href="/admin/feed/developmentstage/">Development stages</a></li>
<li><a href="/admin/feed/restraint/">Restraints</a></li>
<li><a href="/admin/feed/electrodetype/">Electrode types</a></li>
<li><a href="/admin/feed/muscle/">Muscles</a></li>
<li><a href="/admin/feed/side/">Sides</a></li>
<li><a href="/admin/feed/anteriorposterioraxis/">Anterior-posterior axis</a></li>
<li><a href="/admin/feed/dorsalventralaxis/">Dorsal-ventral axis</a></li>
<li><a href="/admin/feed/depthaxis/">Depth axis</a></li>
<li><a href="/admin/feed/behavior/">Behaviors</a></li>
<li><a href="/admin/feed/emgfiltering/">EMG filtering</a></li>
<li><a href="/admin/feed/emgunit/">EMG units</a></li>
<li><a href="/admin/feed/sonounit/">Sono units</a></li>
</ul> 

{% if user.is_superuser %}
<h2>Group</h2>
<ul>
<li><a href="/admin/auth/group/">All</a></li>
<li><a href="/admin/auth/group/add/">Add</a></li>
</ul>
<h2>User</h2>
<ul>
<li><a href="/admin/auth/user/">All</a></li>
<li><a href="/admin/auth/user/add">Add</a></li>
</ul> 
{% endif %}
{% else %}
<ul>
<li><a href="/admin">Login</a></li>
</ul>
{% endif %}
</div>
