{% extends "admin/base_site.html" %}
{% load i18n admin_modify feedmedia %}


{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="../../../jsi18n/"></script>
{{ media }}
<script type="text/javascript" src="{% app_static_prefix %}js/tabview.js"></script>
{% endblock %}

{% block extrastyle %}
{{ block.super }}<link rel="stylesheet" type="text/css" href="{% app_static_prefix %}css/forms.css" />
<link rel="stylesheet" type="text/css" href="{% app_static_prefix %}css/tabview.css" />
{% endblock %}


{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
{% include "admin/includes/object_path.html" %}
</div>
{% endif %}{% endblock %}

{% block content %}<div id="content-main">
{% block object-tools %}
<ul class="object-tools object-tools-top">
{% if has_change_permission %}
	<li><a class="changelink" href="edit/" >{% trans "Edit" %}</a></li>
{% endif %}	
{% if has_delete_permission %}
	<li><a class="deletelink" href="delete/" >{% trans "Delete" %}</a></li>
{% endif %}
    {% if not is_popup %}
        <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
  {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
{% endif %}
{% if has_change_permission %}
	<li><a class="clonelink" href="clone/" >{% trans "Clone" %}</a></li>
{% endif %}	
</ul>
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% block form_top %}{% endblock %}
{% if tabbed %}
<div class="TabView" id="TabView">
    <div class="Tabs" >
       <a>{% ifequal tab_name None %}{{ opts.object_name }}{% else %}{{ tab_name }}{% endifequal %}</a>
      {% for inline_admin_formset in inline_admin_formsets %}
          {% if inline_admin_formset.opts.tabbed%}
         <a>{% ifequal inline_admin_formset.opts.tab_name None %}{{ inline_admin_formset.opts.verbose_name }}{% else %}{{ inline_admin_formset.opts.tab_name }}{% endifequal %}</a>
          {% endif %}
      {% endfor %}
   </div>

  <div class="Pages" id="pages">
    <div class="Page">
       <div class="Pad">
{% endif %}
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    <ul class="errorlist">{% for error in adminform.form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% endif %}

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset_view.html"  %}
{% endfor %}

{% block after_field_sets %}{% endblock %}
{% if tabbed %}
{% for inline_admin_formset in inline_admin_formsets %}
{% if  not inline_admin_formset.opts.tabbed %}
{% ifequal inline_admin_formset.opts.template "admin/edit_inline/stacked.html" %}
        {% include "admin/stacked_view.html" %}
    {% else %}
        {% include "admin/tabular_view.html" %}
    {% endifequal %}

{% endif %}
{% endfor %}
{% endif %}
{% if tabbed %}
</div></div>
{% endif %}
{% for inline_admin_formset in inline_admin_formsets %}
{% if tabbed and inline_admin_formset.opts.tabbed %}

    <div class="Page">
       <div class="Pad">

    {% ifequal inline_admin_formset.opts.template "admin/edit_inline/stacked.html" %}
        {% include "admin/stacked_view.html" %}
    {% else %}
		{% include "admin/tabular_view.html" %}
    {% endifequal %}
</div></div>
{% else %}
   {% if not tabbed %}
   {% ifequal inline_admin_formset.opts.template "admin/edit_inline/stacked.html" %}
        {% include "admin/stacked_view.html" %}
    {% else %}
		{% include "admin/tabular_view.html" %}
    {% endifequal %}
{% endif %}
{% endif %}
{% endfor %}
{% if tabbed %}
</div>
</div>
{% endif  %}
{% block after_related_objects %}{% endblock %}


<!--% submit_row % -->
</form></div>
{% endblock %}

{% block final_block %}
<script type="text/javascript">
    tabview_switch_by_name('TabView','{% ifequal tab_name None %}{{ opts.object_name }}{% else %}{{ tab_name }}{% endifequal %}');
</script>
{% endblock %}

