{% extends "admin/index.html" %} 
{% load i18n %} 

{% if not is_popup %}

{% block breadcrumbs %}
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="breadcrumbs">
              <ul id="crumbs">
                <li><a href="/">{% trans 'Home' %}</a></li>
                {% if title %}<span>/</span>
                <li>My Data</li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% endif %} 

{% block sidebar %}{% endblock %}