<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load feedmedia %}{% app_static_prefix %}css/base.css{% endblock %}" />
    {% block extrastyle %}{% endblock %}
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% load feedmedia %}{% app_static_prefix %}css/ie.css{% endblock %}" /><![endif]-->
    <link rel="stylesheet" type="text/css" href="{% app_static_prefix %}/src/less/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block extra_js %}{% endblock %}
    {% block extrahead %}{% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
  </head>

  {% load i18n %}
  
  <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

      {% if not is_popup %}
      <header>
        <div class="container">
          <div class="row">
            <a href="/" class="logo">Feed Experiments End-user Database</a>
            <!-- <a href="/" class="login">Login</a> -->
            {% if user.is_authenticated and user.is_staff %}
            <div class="login">
            	{% ifnotequal  user.first_name "anonymous" %}
                {% trans 'Welcome,' %}
                <strong>{% firstof user.first_name user.username %}</strong>.
              {% endifnotequal %}
              
              {% block userlinks %}
                {% ifnotequal  user.first_name "anonymous" %}
                  {% url "django-admindocs-docroot" as docsroot %}
                    {% if docsroot %}
                      <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                    {% endif %}
                
                  {% url "admin:password_change" as password_change_url %}
                  {% if password_change_url %}
                    <a href="{{ password_change_url }}">
                    {% else %}
                      <a href="{{ root_path }}password_change/">
                  {% endif %}
                  {% trans 'Change password' %}</a> /
                    <a href="/logout?next=/admin/">
                  {% trans 'Log out' %}</a>
                {% endifnotequal %}	
                {% ifequal  user.first_name "anonymous" %}
                  <a href="/login">
                  {% trans 'Log in' %}</a>
                {% endifequal %}	
              {% endblock %}
            </div> <!-- /.login -->
            {% endif %}
          </div> <!-- /.row -->
          
          <nav class="row">
            {% block top_menu %}{% include "admin/top_menu.html" %}{% endblock %}
          </nav>
            {% block nav-global %}{% endblock %}
        </div> <!-- /.container -->
      </header>
      
      <!-- <div class="menu_div"></div> Old site content -->
      
      {% block menu %}{% endblock %}
      
<!--
      {% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title }}{% endif %}</div>{% endblock %}
      {% endif %}
      
          {% if messages %}
          <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
          {% endif %}
-->
      <div class="masthead">
        <div class="container">
            {% block pretitle %}{% endblock %}
            {% block content_title %}{% if title %}{% endif %}{% endblock %}
        </div>
      </div>
      <main>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              {% block tabs %}{% endblock %}
              {% block content %}
              {% block object-tools %}{% endblock %}
              {{ content }}
              {% endblock %}
              {% block sidebar %}{% endblock %}
            </div>
          </div>
        </div> <!-- /.container -->
      </div>
      <footer>
        <div class="container">
          <div class="row">
            {% block footer %}{% include "admin/footer.html" %}{% endblock %}
            {% block final_block %}{% endblock %}
          </div>
        </div> <!-- /.container -->
      </footer>
      
    
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% app_static_prefix %}/src/less/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Custom js -->
    <script src="{% app_static_prefix %}/js/scripts.js"></script> 
    <!-- Chosen.js -->
    <script src="{% app_static_prefix %}/js/chosen_v1.1.0/chosen.jquery.min.js"></script>
    <script type='text/javascript'>
    (function (d, t) {
      var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
      bh.type = 'text/javascript';
      bh.src = '//www.bugherd.com/sidebarv2.js?apikey=qbuxyvrbhfxoiezpukwzxg';
      s.parentNode.insertBefore(bh, s);
      })(document, 'script');
    </script>
  </body>
</html>
