{% extends "admin/base_site.html" %}
{% load i18n admin_modify feedmedia %}
{% block extrahead %}{{ block.super }}

<script type="text/javascript" src="../../../jsi18n/"></script>
  {{ media }}
  {% endblock %}
  {% block coltype %}colM{% endblock %}
  {% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}
  {% block breadcrumbs %}  
    {% if not is_popup %}
    <div class="breadcrumbs">
      {% include "admin/includes/object_path.html" %}
    </div>
    {% endif %}
  {% endblock %}
  
  {% block content_title %}
    <h1>{% if change %}Edit {{ opts.object_name}}{% else %}Add {{ opts.object_name}} - or - <button class="btn btn-primary" data-toggle="modal" data-target="#clone-modal">Clone Existing {{ opts.object_name}}</a>{% endif %}</h1>
    <hr />
  {% endblock %}

  {% block content %}
    <div class="col-xs-12">
      {% block object-tools %}
      <ul class="object-tools object-tools-top">
        {% if change %}
        {% ifequal opts.app_label "feed" %}
        <li><a href="/admin/{{opts.app_label}}/{{ opts.object_name.lower}}/{{object_id}}/" ><img src='/static/img/admin/icon_calendar.gif' alt='view' title='view'/></a></li>
        {% endifequal %}
        {% if has_delete_permission %}
        <li><a href="/admin/{{opts.app_label}}/{{ opts.object_name.lower}}/{{object_id}}/delete" ><img src='/static/img/admin/icon_deletelink.gif' alt='delete' title='delete'/></a></li>
        {% endif %}
        {% endif %}
        {% if has_change_permission %}
        {% if cloneable %}
	     <li><a class="clonelink" href="/admin/{{opts.app_label}}/{{ opts.object_name.lower}}/{{object_id}}/clone" ><img src='/static/img/admin/copy-icon.png' alt='clone' title='clone'/></a></li>
       {% endif %}	
       {% endif %}	
       {% if has_change_permission %}{% if not is_popup %}{% if object_id != None %} 
       <li><a href="/admin/{{opts.app_label}}/{{ opts.object_name.lower}}/{{object_id}}/history/" class="historylink">{% trans "History" %}</a></li>
       <!-- {% if has_absolute_url %}
         <li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>
         {% endif%} -->
       {% endif %}
       {% endif %}
       {% endif %}
      </ul>
{% endblock %}
  <div class="col-xs-9">
    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">
    {% csrf_token %}
    {% block form_top %}{% endblock %}
    {% if is_popup %}
    <input type="hidden" name="_popup" value="1" />
    {% endif %}
    {% if save_on_top %}{% submit_row %}{% endif %}
    {% if errors %}
    <div class="row">
      <div class="col-xs-11">
        <div class="messages alert alert-error">
          <p>
          {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
          </p>
          <div class="errorlist">{% for error in adminform.form.non_field_errors %}<p>{{ error }}</p>{% endfor %}</div>
        </div>
      </div>
    </div>
    {% endif %}
    <p class="required-notice"><span class="glyphicon glyphicon-asterisk"></span> Required fields</p>
    {% for fieldset in adminform %}
    {% include "admin/includes/fieldset.html" %}
    {% endfor %}
    {% block after_field_sets %}{% endblock %}
    {% for inline_admin_formset in inline_admin_formsets %}
      {% include inline_admin_formset.opts.template %}
      <div class="row">
        <div class="col-xs-4 col-xs-offset-7">
          {% submit_row %}
        </div>
      </div>
    {% endfor %}
    {% block after_related_objects %}
    {% endblock %}
    {% if adminform and add %}
    <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
    {% endif %}
    {# JavaScript for prepopulated fields #}
    {% prepopulated_fields_js %}
    <div class="row">
      <div class="col-xs-4 col-xs-offset-7">
        {% if 'study' == opts.model_name %}
        <input class="btn btn-primary top-element" type="submit" name="_redirect_add_experiment" value="Next Step: Add Experiment">
        {% elif 'experiment' == opts.model_name %}
        <input type="submit" name="_redirect_add_session" value="Next Step: Add Session">
        {% elif 'session' == opts.model_name %}
        <input type="submit" name="_redirect_add_trial" value="Next Step: Add Trial">
      </div>
        {% endif %}
    </div>
  </form>
</div>
{% if 'study' == opts.model_name %}
</div>
{% elif 'trial' == opts.model_name %}
</div>
{% endif %}

{% endblock %}
{% block sidebar %}
<aside>
  <div class="col-xs-3 upload-steps">
    <h3>Upload Steps</h3>
    <ul>
      <li><a href="">Study <span>#</span></a></li>
      <li><a href="">Experiments <span>#</span></a></li>
      <li><a href="">Sessions <span>#</span></a></li>
      <li><a href="">Trials <span>#</span></a></li>
      <li><a href="">Review <span>#</span></a></li>
    </ul>
  </div>
  {% load upload_status %}
  {% upload_status_block %}
</aside>
{% endblock %}
{% block modal %}
<div class="modal fade" id="clone-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title">Clone Existing {{ opts.object_name}}</h3>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-xs-2 col-xs-offset-1">
              <label>{{ opts.object_name}}:</label>
            </div>
            <div class="col-xs-5">
              <select class="chosen-select" single>
                <option>Existing {{ opts.object_name.lower}}</option>
                <option>Study 1</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="radio col-xs-11 col-xs-offset-1">
              <label>
               <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                 Clone only {{ opts.object_name.lower}} metadata
              </label>
            </div>
          </div>
          <div class="row">
            <div class="radio col-xs-11 col-xs-offset-1">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                  Clone {{ opts.object_name.lower}} metadata and all {{ opts.object_name.lower}} elements
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-4 col-xs-offset-2">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
          <div class="col-xs-4">
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
