{% extends "admin/base_site.html" %}
{% load i18n nextlink %}

{% block breadcrumbs %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="breadcrumbs">
        <ul id="crumbs">
             <li><a href="../../../../">{% trans "Home" %}</a></li><span>/</span>
             <li><a href="../../../">{{ app_label|capfirst }}</a></li><span>/</span>
             <li><a href="../../">{{ opts.verbose_name_plural|capfirst }}</a></li><span>/</span>
             <li><a href="../">{{ object|truncatewords:"18" }}</a></li><span>/</span>
             <li>{% trans 'Delete' %}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  {% if associated_critical_objects|length_is:"0" %}
    {% if perms_lacking %}
      <div class="col-xs-12">
        <div class="messages alert alert-danger">
          <p>{% blocktrans with object as escaped_object %}Deleting the {{ object_name }} '{{ escaped_object }}' would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktrans %}</p>
          <ul>
          {% for obj in perms_lacking %}
              <li>{{ obj }}</li>
          {% endfor %}
          </ul>
        </div>
      </div>
    {% else %}
      <div class="col-xs-12">
        <div class="messages alert alert-danger">
          <p>{% blocktrans with object as escaped_object %}Are you sure you want to delete the {{ object_name }} "{{ escaped_object }}"? All of the following related items will be deleted:{% endblocktrans %}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul>{{ deleted_objects|unordered_list }}</ul>
      </div>
    </div>
    <div class="row">
      <form action="" method="post">
        {% csrf_token %}
        <div class="col-xs-3">
          <input type="hidden" name="post" value="yes" />
          <input type="hidden" name="next" value="{% next_or_study_url %}" />
          <input class="btn btn-primary" type="submit" value="{% trans "Confirm &amp; Delete" %}" />
        </div>
        <div class="col-xs-3">
          <input type="hidden" name="post" value="no" />
          <a href="{% cancel_url %}" class="btn btn-default">{% trans "Cancel" %}</a>
        </div>
      </form>
    </div>
    {% endif %}
  {% else %}
    <div class="col-xs-12">
      <div class="messages alert alert-danger">
        <p>{% blocktrans with object as escaped_object %}Deleting the {{ object_name }} '{{ escaped_object }}' would result in deleting following related objects. To prevent possible data loss, you need to delete or remove the association to the following types of objects:{% endblocktrans %}</p>
      </div>
    </div>
    <div class="col-xs-12">
      <ul>{{ associated_critical_objects|unordered_list }}</ul>
    </div>
  </div>
  <div class="row">
    <form action="" method="post">
      {% csrf_token %}
      <div class="col-xs-3">
        <input type="hidden" name="post" value="yes" />
        <input type="hidden" name="next" value="{% next_url %}" />
        <input class="btn btn-primary" type="submit" value="{% trans "Confirm &amp; Delete" %}" />
      </div>
      <div class="col-xs-3">
        <input type="hidden" name="post" value="no" />
        <a href="{% cancel_url %}" class="btn btn-default">{% trans "Cancel" %}</a>
      </div>
    </form>
  </div>
  {% endif %}
  
{% endblock %}
