{% load feedmedia %}
  <div class="col-xs-2">
    <a class="logo">FEED</a>
    <p>&copy;2014 FEED</p>
  </div>
  <div class="col-xs-9 col-xs-offset-1 partners">
    <h5>Our Partners</h5>
    <div class="row">
      <div class="col-xs-12">
        <ul>
          <li><a href="http://www.nsf.gov/funding/pgm_summ.jsp?pims_id=5444" target="_blank" class="partner1">National Science Foundation</a></li>
          <li><a href="http://www.ohio.edu/" target="_blank" class="partner2">Ohio University - Athens</a></li>
          <li><a href="http://www.neomed.edu/" target="_blank" class="partner3">NEOMED</a></li>
          <li><a href="http://dentistry.uic.edu/" target="_blank" class="partner4">University of Illinois Chicago</a></li>
          <li><a href="http://duke.edu/" target="_blank" class="partner5">Duke University</a></li>
          <li><a href="http://www.nescent.org/about/" target="_blank" class="nescent">NESCent</a></li>
          <li><a href="http://squishymedia.com" target="_blank" class="squishy">Squishy Media</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row subfooter">
  <div class="col-xs-3">
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="">Contact Us</a></li>
      <li><a href="">Request Account</a></li>
      <li><a href="http://xmaportal.org/webportal/" target="_blank">XMA</a></li>
    </ul>
  </div>
  <div class="col-xs-9 funding">
    <h5>Funding Acknowledgments</h5>
    <div class="row">
      <div class="col-xs-6">
        <p>National Science Foundation DBI-1062333, DBI-1444582, EF-0423641</p>
      </div>
      <div class="col-xs-6">
        <p>Duke University Trinity School of Arts & Sciences and Department of Evolutionary Anthropology</p>
      </div>
    </div>
  </div>