{% load feedmedia %}
<div class="col-xs-2">
  <a class="logo">FEED</a>
  <p>&copy;2014 FEED</p>
</div>
<div class="col-xs-2">
  <ul>
    <li><a href-"">Contact Us</a></li>
    <li><a href-"">Site Credits</a></li>
    <li><a href-"">Funding Acknowledegments</a></li>
    <li><a href-"">XMA</a></li>
  </ul>
</div>
<div class="col-xs-7 col-xs-offset-1 partners">
  <h5>Our partners</h5>
  <div class="row">
    <div class="col-xs-2"><a href="" class="partner1">Partner1</a></div>
    <div class="col-xs-2"><a href="" class="partner2">Partner2</a></div>
    <div class="col-xs-2"><a href="" class="partner3">Partner3</a></div>
    <div class="col-xs-2"><a href="" class="partner4">Partner4</a></div>
    <div class="col-xs-2"><a href="" class="partner5">Partner5</a></div>
    <div class="col-xs-2"><a href="" class="partner6">Partner6</a></div>
    <div class="col-xs-2"><a href="http://www.nescent.org" class="nescent">NESCent</a></div>
  </div>
</div>