{% extends "admin/base_site.html" %}
{% load i18n upload_status %}

{% block bodyclass %}history{% endblock %}

{% block breadcrumbs %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="breadcrumbs">
      	<ul id="crumbs">
        <li><a href="../../../../">{% trans 'Home' %}</a></li>
        <span>/</span>
        <li><a href="../../../">{{ app_label|capfirst }}</a></li>
        <span>/</span>
        <li><a href="../../">{{ module_name }}</a></li>
        <span>/</span>
        <li><a href="../">{{ object|truncatewords:"18" }}</a></li>
        <span>/</span>
        <li>{% trans 'History' %}</li>
      </div>
    </div>
  </div>
</div>
{% endblock %}
  
{% block pretitle %}
  <div class="masthead">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>View {{ opts.object_name}} History</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <hr />
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block content %}
<div class="col-xs-9">
{% if action_list %}
    <table id="change-history" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th class="date" scope="col">{% trans 'Date/time' %}</th>
            <th class="user" scope="col">{% trans 'User' %}</th>
            <th class="action" scope="col">{% trans 'Action' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for action in action_list %}
        <tr>
            <th scope="row">{{ action.action_time|date:_("DATETIME_FORMAT") }}</th>
            <td>{{ action.user.username }}{% if action.user.get_full_name %} ({{ action.user.get_full_name }}){% endif %}</td>
            <td>{{ action.change_message }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{% trans "This object doesn't have a change history. It probably wasn't added via this admin site." %}</p>
{% endif %}
</div>
{% upload_status_block %}
{% endblock %}
