{% load admin_list %}
{% load i18n %}
<div class="row">
  <div class="records-number col-xs-7 col-lg-9">
    <h3>{% ifequal cl.result_count 1 %}Result{% else %}Results{% endifequal %} ({{ cl.result_count }})</h3>
  </div>
  {% if pagination_required %}
  <div class="col-xs-5 col-lg-3">
    <div class="records-list browse">
      {% if show_all_url %}<a href="{{ show_all_url }}" class="showall">{% trans 'Show all' %}</a>{% endif %}
      <div class="float-right">
        <p>Page:</p>
          {% for i in page_range %}
            {% paginator_number cl i %}
          {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
</div>


