{% load i18n %}

        {% if not is_clone %}
          {% if 'study' == opts.model_name %}
          <div class="col-xs-4 col-xs-offset-3">
            <input type="submit" name="_redirect_add_subject" value="Save &amp; Add Subject(s)">
          </div>
          <div class="col-xs-4">
            <input class="btn btn-default" type="submit" value="{% trans 'Save &amp; Review' %}" name="_redirect_study_view" {{ onclick_attrib }}/>
          </div>
          {% elif 'subject' == opts.model_name %}
          <div class="col-xs-4">
            <input type="submit" name="_redirect_add_experiment" value="Save &amp; Add Experiment">
          </div>
          <div class="col-xs-4">
            <input class="btn btn-default" type="submit" value="{% trans 'Save &amp; Review' %}" name="_redirect_study_view" {{ onclick_attrib }}/>
          </div>
          {% elif 'experiment' == opts.model_name %}
          <div class="col-xs-4">
            <input type="submit" name="_redirect_setup_or_session" value="Save &amp; Configure">
          </div>
          <div class="col-xs-4">
            <input class="btn btn-default" type="submit" value="{% trans 'Save &amp; Review' %}" name="_redirect_study_view" {{ onclick_attrib }}/>
          </div>
          {% elif 'session' == opts.model_name %}
          <div class="col-xs-4">
            <input type="submit" name="_redirect_add_trial" value="Save &amp; Add Trial">
          </div>
          <div class="col-xs-4">
            <input class="btn btn-default" type="submit" value="{% trans 'Save &amp; Review' %}" name="_redirect_study_view" {{ onclick_attrib }}/>
          </div>
          {% elif 'trial' == opts.model_name %}
          <div class="col-xs-4 col-xs-offset-3">
            <input type="submit" value="{% trans 'Save &amp; Review' %}" name="_redirect_study_view" {{ onclick_attrib }} />
          </div>

          {% elif 'emgsetup' == opts.model_name %}
            {% include "admin/submit_line_setup.html" %}
          {% elif 'strainsetup' == opts.model_name %}
            {% include "admin/submit_line_setup.html" %}
          {% elif 'kinematicssetup' == opts.model_name %}
            {% include "admin/submit_line_setup.html" %}
          {% elif 'sonosetup' == opts.model_name %}
            {% include "admin/submit_line_setup.html" %}
          {% elif 'forcesetup' == opts.model_name %}
            {% include "admin/submit_line_setup.html" %}
          {% elif 'pressuresetup' == opts.model_name %}
            {% include "admin/submit_line_setup.html" %}
          {% elif 'eventsetup' == opts.model_name %}
            {% include "admin/submit_line_setup.html" %}
          {% elif 'othersetup' == opts.model_name %}
            {% include "admin/submit_line_setup.html" %}
          {% else %}
          <div class="col-xs-4 col-xs-offset-3">
            <input class="btn btn-primary bottom-element" type="submit" value="{% trans 'Save' %}" name="_save" {{ onclick_attrib }}/>
          </div>
          {% endif %}
        {% else %}
          <div class="col-xs-4 col-xs-offset-3">
            <input type="submit" value="{% trans 'Save &amp; Review' %}" name="_redirect_study_view" {{ onclick_attrib }} />
          </div>
        {% endif %}

<!--
{% if show_save_as_new %}
  <div class="col-xs-4">
    <input type="submit" value="{% trans 'Save as New' %}" name="_saveasnew" {{ onclick_attrib }}/>
  </div>
{% endif %}
-->
<!--
{% if 'study' != opts.model_name %}
  {% if show_save_and_add_another %}
    <div class="col-xs-4">
      <input type="submit" value="{% trans 'Save &amp; Add Another' %}" name="_addanother" {{ onclick_attrib }} />
    </div>
  {% endif %}
-->
<!--
  {% if show_save_and_continue %}
    <div class="col-xs-4">
      <input type="submit" value="{% trans 'Save &amp; continue editing' %}" name="_continue" {{ onclick_attrib }}/>
    </div>
  {% endif %}
-->
<!-- {% endif %} -->
