{% load i18n %}
{% load display i18n feedmedia %}

<div class="inline-group">
  <div class="tabular inline-related large-table {% if forloop.last %}last-related{% endif %}">
{{ inline_admin_formset.formset.management_form }}
<fieldset class="module">
  {% if not hide_formset_title %}
    <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }} YOYO</h2>
  {% endif %}
   {{ inline_admin_formset.formset.non_form_errors }}
   <table class="table table-bordered table-striped">
   {% include "admin/tabular_view_header.html" %}

  {% for inline_admin_form in inline_admin_formset %}
    {% include "admin/tabular_view_row.html" %}
  {% endfor %}
   </table>
   {% include "admin/tabular_view_after_table.html" %}
</fieldset>
  </div>
</div>
