{% load display i18n feedmedia feed_util %}

<div class="inline-group">
  <div class="tabular inline-related {% if forloop.last %}last-related{% endif %}">
    {{ inline_admin_formset.formset.management_form }}
    <fieldset class="module">
      {% if not hide_formset_title %}
        <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
      {% endif %}
       {{ inline_admin_formset.formset.non_form_errors }}

    {% for sessions in inline_admin_formset.by_container %}
      {% ifnotequal sessions.grouper None %}
        <div class="row tight">
          <div class="col-xs-9">
            <h4>Experiment: {{ sessions.grouper }}</h4>
          </div>
          <div class="col-xs-3">
            <h3 class="overview-add"><a class="addlink" href="{% add_new_to_container_url sessions %}" ><span class="glyphicon glyphicon-plus-sign"></span>{% trans "Add Another " %}{{inline_admin_formset.opts.verbose_name}}</a></h3>
          </div>
        </div>
        <table class="table table-bordered table-striped overview">
        {% include "admin/tabular_view_header.html" %}
        {% for inline_admin_form in sessions.list %}
          {% include "admin/tabular_view_row.html" %}
        {% empty %}
          <tr>
            <td colspan="999">No {{ inline_admin_formset.opts.verbose_name_plural }}. Use the link above to add a {{ inline_admin_formset.opts.verbose_name }}.</td>
          </tr>
        {% endfor %}
        </table>
      {% endifnotequal %}
    {% endfor %}

    </fieldset>
  </div>
</div>
