{% load i18n %}
     <thead><tr>
     {% for field in inline_admin_formset.fields %}
       {% if not field.is_hidden  %}
         <th>{{ field.label|capfirst }}</th>
        {% endif %}
     {% endfor %}

     {% for r in registry %}
        {% ifequal r inline_admin_formset.opts.verbose_name.lower  %}
		<!-- % if has_change_permission %}
		{% if tabbed and inline_admin_formset.opts.tabbed % -->
     		<th class="action_header">{% trans "Action" %}</th>
	 	<!-- % endif %}
	 	{% endif % -->
	    {% endifequal %}
{% endfor %}
     </tr></thead>
