{% extends "admin/base.html" %}
{% load i18n admin_modify feedmedia %}


{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="../../../jsi18n/"></script>
{{ media }}
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

    {% if not is_popup %}
  {% block breadcrumbs %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="breadcrumbs">
      	<ul id="crumbs">
        <li><a href="/">
          {% trans "Home" %}
        </a></li><span>/</span>
        <li>{% include "admin/includes/object_path.html" %}</li>
      </div>
    </div>
  </div>
</div>
  {% endblock %}
    {% endif %}

{% block pretitle %}
  <div class="masthead">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>{% if change %}Edit{% else %}{% if view %}View{% else %}Add{% endif %}{% endif %}  {{ opts.object_name.lower}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <hr />
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% if 'experiment' == opts.model_name %}
  {% elif 'kinematicssetup' == opts.model_name %}
  {% elif 'sonossetup' == opts.model_name %}
  {% elif 'emgsetup' == opts.model_name %}
  {% elif 'strainsetup' == opts.model_name %}
  {% elif 'forcesetup' == opts.model_name %}
  {% elif 'pressuresetup' == opts.model_name %}
  {% else %}
    {% block object-tools %}
        <div class="col-xs-2 col-xs-offset-10 admin-tools">
          <ul class="object-tools object-tools-top float-right">
            {% if has_change_permission %}
              <li><a class="changelink" href="edit/" ><span class='glyphicon glyphicon-pencil'></span></a></li>
            {% endif %}	
            {% if has_delete_permission %}
              <li><a class="deletelink" href="delete/" ><span class='glyphicon glyphicon-remove'></span></a></li>
            {% endif %}
            {% if has_change_permission %}
              {% if cloneable %}
                <li><a class="clonelink" href="clone/" ><span class='glyphicon glyphicon-plus-sign'></span></a></li>
              {% endif %}
            {% endif %}
            {% if has_change_permission %}
              <li><a href="history/" class="historylink"><span class='glyphicon glyphicon-calendar'></span></a></li>
              {% if has_absolute_url %}
                <li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>
              {% endif %}
            {% endif %}
          </ul>
        </div>
      </div>
{% endblock %}
{% endif %}

{% block technique %}
{% endblock %}
<div class="row">
  <div class="col-xs-12">
    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% block form_top %}{% endblock %}

      {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
      {% if save_on_top %}{% submit_row %}{% endif %}
      {% if errors %}
      <p class="errornote">{% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</p>
      <div class="errorlist">{% for error in adminform.form.non_field_errors %}<p>{{ error }}</p>{% endfor %}</div>
{% endif %}

<div class="panel-group" id="accordion">
  {% for fieldset in adminform %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          {{ opts.verbose_name|capfirst }}
        </a>
      </h3>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        {% include "admin/includes/fieldset_view.html"  %}
      </div>
    </div>
  </div>
  {% endfor %}


  {% for inline_admin_formset in inline_admin_formsets %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">
              {{ inline_admin_formset.opts.verbose_name_plural|capfirst }}
            </a>
          </h3>
        </div>
        <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
          <div class="panel-body">
        {% with hide_formset_title=True %}
          {% comment %}
            We include tabular_view, which uses hide_formset_title to hide the
            title. If more significant modifications are required (e.g.,
            bootstrap markup in the table), then it is better to create a new
            template called tabular_view_accordion by copying tabular_view and
            then including that template here.
          {% endcomment %}
          {% include "admin/tabular_view.html" %}
        {% endwith %}
          </div>
        </div>
      </div>
  {% endfor %}
<!--% submit_row % -->
</div>
</form>
</div>
{% endblock %}
