
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<title>Feed Database Management System</title>

<link rel="stylesheet" type="text/css" href="/static/style.css" />

</head>

<body id="container">

<div class="outer-container">

	<div class="inner-container">

	

	<div class="header">

			{% include 'header.html' %}

		</div>

		<div class="path">

			{% include 'version.html' %}

		</div>

		<div class="main">

			<div class="navigation">

				{% include 'menu.html' %}

			</div>

			<div class="content">

				{% include 'message.html' %}

				{% include  content %}

			</div>
			

			<div class="clearer">&nbsp;</div>

		</div>

		

		<div class="footer">

			{% include 'footer.html' %}

			<div class="clearer"></div>

		</div>

		

		

	</div>

</div>





</body>

</html>

