
/* login body */

.login {
 width: 100%;
}

/* OBJECT TOOLS */

.object-tools-top {
    margin-top: -2.4em;
    margin-bottom: -2em; 
    float: right;
}

/* OBJECT HISTORY */

table#change-history {
    width: 100%;
}

table#change-history tbody th {
    width: 16em;
}

/* PAGE STRUCTURE */

#container {
    position: relative;
    width: 100%;
    min-width: 760px;
    padding: 0;
    border: 1px solid #417690;
    margin: 0 auto 0 auto; /*this is what centers the pages in the middle of the screen */
    width: 100%;
   
}

#content {
    margin: 10px 15px;
    min-height: 500px;

}

#header {
    width: 100%;
}

#content-main {
    float: left;
    width: 100%;
}

#content-related {
    float: right;
    width: 18em;
    position: relative;
    margin-right: -19em;
}

#footer {
    background: #417690;
    clear: both;
    padding: 10px;
    color: #fff;
    text-align:center;
}

#footer a:link, #footer a:visited {
    color: white;
}
/* COLUMN TYPES */

.colMS {
    margin-right: 20em !important;
}

.colSM {
    margin-left: 20em !important;
}

.colSM #content-related {
    float: left;
    margin-right: 0;
    margin-left: -19em;
}

.colSM #content-main {
    float: right;
}

.popup .colM {
    width: 95%;
}

.subcol {
    float: left;
    width: 46%;
    margin-right: 15px;
}

.dashboard #content {
    width: 500px;
}

/* navigation */

.bullet {list-style-type: square;}

.navigation {
		
	background: url(/static/images/menutop.jpg) top right no-repeat;
	width: 190px;
	background-color: #EDF3FE;
                        padding:0;
 	font-size: 1.1em;
	float: left;
	text-align: right;
	height:100%;
padding-top:50px;
/*	
	
	border-right: 1px solid #bbb;	
	height:650px;*/
	
}
.navigation h2 {
	color: #333;
	font: 1.2em;
	margin: 0;
	margin-top: 1.5em;
	margin-bottom: 0.2em;
	padding-left: 5px;
	padding-bottom:0.1em;
	padding-right: 15px;
	padding-top:0.3em;
/*	border-top: 1px solid #bbb;*/
}
.navigation ul {
	margin-top:0px;
	padding-left: 1px;
	padding-right: 10px;
    list-style-type: none;
	
}
.navigation li {
	padding-right: 10px;
    list-style-type: none;
}
.navigation li a {
	font-size: 1.0em;
	color: #444;
	display: block;
	padding: 1px 18px 0px 15px;
	text-decoration: none;
	width: 157px;
}
.navigation li a:hover {
	background: #b5b5EB;
	color: #000000;	
}
.table_header {
    text-align: center;
}
