# Example settings file for FeedDB django installation
# To use by default with manage.py, as in './manage.py runserver', 
# copy this file to settings.py and provide values for the variables below
# that are suitable in your local setting. 
# 
# It is possible to have alternative settings files, e.g. mysettings.py, 
# and use them as 
#   ./manage.py runserver --settings=feeddb.mysettings 

### For installing Feeding DB, supply appropriate values for metavariables $FEEDDB_XXXX$ mentioned below, 
###   as described in README-INSTALL


from settings_common import * 

DEBUG = True
TEMPLATE_DEBUG = DEBUG

ADMINS = (
   # ('Your Name', 'your_email@domain.com'),
)

MANAGERS = ADMINS

DATABASE_ENGINE = 'postgresql_psycopg2'        # 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
### Use $FEEDDB_RDB$ for these: 
DATABASE_NAME = ''             # Or path to database file if using sqlite3.
DATABASE_USER = ''             # Not used with sqlite3.
DATABASE_PASSWORD = ''         # Not used with sqlite3.
DATABASE_HOST = ''             # Set to empty string for localhost. Not used with sqlite3.
DATABASE_PORT = ''             # Set to empty string for default. Not used with sqlite3.

# Make this unique, and don't share it with anybody.
SECRET_KEY = ''
### An easy way to obtain a key: 
###   - Create a fresh Django project. 
###   - Copy SECRETE_KEY from this project's settings.py to your $FEEDDB_INSTALL$/feeddb/settings.py
###   - Discard the newly-created project. 


# Absolute path to the directory that holds media.
# Example: "/home/media/media.lawrence.com/"
### Feeding DB: we use this for user-uploaded files only
MEDIA_ROOT = '$FEEDDB_UPLOADS$'

# Absolute path to the directory that holds temporary files for download
# Note: do not put the "/" at the end of the path
EXPLORER_TEMPORARY_FOLDER = '$FEEDDB_TEMP$'