# Example settings file for FeedDB django installation
# To use by default with manage.py, as in './manage.py runserver',
# copy this file to settings.py and provide values for the variables below
# that are suitable in your local setting.
#
# It is possible to have alternative settings files, e.g. mysettings.py,
# and use them as
#   ./manage.py runserver --settings=feeddb.mysettings

# Import variables from settings_common.py
from settings_common import *

# Whether to enable certain debugging features of Django.
#
#   Production value: False
#   Development value: True
#
DEBUG = True
TEMPLATE_DEBUG = DEBUG

ADMINS = (
   # ('Your Name', 'your_email@domain.com'),
)

MANAGERS = ADMINS

DATABASE_ENGINE = 'postgresql_psycopg2'

# Enter the database credentials used to connect to the Postgres server. The
# user must be a user with an actual password; Postgres's `ident`
# authentication doesn't work here.
DATABASES = {
    'default': {
        'NAME': '',
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'USER': '',
        'PASSWORD': '',
        'HOST': 'localhost',
    }
}

# Specify the solr connection information here. The default URL
# for a local solr instance is http://127.0.0.1:8983/solr
HAYSTACK_CONNECTIONS = {
    'default': {
        'ENGINE': 'haystack.backends.solr_backend.SolrEngine',
        'URL': 'http://127.0.0.1:8983/solr'
        # ...or for multicore...
        # 'URL': 'http://127.0.0.1:8983/solr/mysite',
    },
}

# Django encryption key
#
# Make this unique, and don't share it with anybody. Any random text will work.
# This value is used to sign cookies and other crypto-related stuff in Django.
# Good values include a line of output from `pwgen 40`, any online password
# generator, or good old-fashioned key-mashing.
SECRET_KEY = ''

# Path to user-uploaded files.
#
#   Example value: '/path/to/bigdisk/feeddb-uploads'
#
# This directory must be accessible and writable by the web server user. If you
# are deploying with mod_wsgi on Apache on CentOS, the user is called `apache`
# and so this command would set the permissions correctly:
#
#   chown -R apache:apache /path/to/bigdisk/feeddb-uploads
#   chmod -R ug+rw /path/to/bigdisk/feeddb-uploads
#
MEDIA_ROOT = '$FEEDDB_UPLOADS$'

# Absolute path to the directory that holds temporary files for download
# Note: do not put the "/" at the end of the path
#
#   Recommended value: '/tmp'
#
# This directory must be accessible and writable by the web server user. See
# the documentation for MEDIA_ROOT, above.
#
EXPLORER_TEMPORARY_FOLDER = '$FEEDDB_TEMP$'
