{% extends "admin/base_site.html" %}
{% load i18n %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}about{% endblock %}

{% block breadcrumbs %}{% endblock %}

    {% block pretitle %}
    <div class="masthead">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>About <span>FEED</span></h1>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}

    {% block content %}
    <div class="col-xs-10 col-xs-offset-1">
      <p class="intro">The Feeding Experiments End-User Database (FEED) was designed and developed by the <a href="http://nescent.org/science/awards_summary.php?id=150" target="_blank">Mammalian Feeding Apparatus Working Group</a> supported by the <a href="http://www.nescent.org/" target="_blank">National Evolutionary Synthesis Center (NESCent)</a>.</p>
    </div>
    <div class="col-xs-12">
      <hr />
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="box box1">
          <h3>Credits</h3>
          <ul>
            <li>Concept and scientific requirements: Early work to convene a group of anatomists and physiologists to design and implement FEED began in 2006. <a href="http://nescent.org/science/awards_summary.php?id=150" target="_blank">NESCent Working Group</a> on
              <a href="http://www.feedexp.org/wiki/Main_Page" target="_blank">Analysis and Synthesis of Physiologic Data from the Mammalian Feeding Apparatus</a> is led by
              <ul>
                <li><a href="http://walllab.evolutionaryanthropology.duke.edu/" target="_blank">Christine E. Wall</a> (Duke University)</li>
                <li><a href="http://dentistry.uic.edu/depts/oralBiology/oralb/FDruzinsky.htm" target="_blank">Robert E. Druzinsky</a> (University of Illinois at Chicago)</li>
                <li><a href="http://www.hopkinsmedicine.org/Rehab/Faculty/german.html" target="_blank">Rebecca Z. German</a> (Northeast Ohio Medical University)</li>
                <li><a href="http://www.neoucom.edu/audience/about/departments/anatneuro/faculty/ChrisVinyard/" target="_blank">Christopher J. Vinyard</a> (Northeast Ohio Medical University)</li>
                <li><a href="http://www.oucom.ohiou.edu/dbms-williams/" target="_blank">Susan H. Williams</a> (University of Ohio, Athens)</li>
              </ul>
            </li>
            <li>Anatomy and Behavior Ontologies:
              <ul>
                <li>The <a href="https://code.google.com/p/feedontology/" target="_blank">Mammalian Feeding Muscle Ontology (MFMO)</a> was developed by a group of anatomists and ontologists in an Ontology Workshop (2012) funded by NSF-DBI-1062333. The contributors to the MFMO were A. W. Crompton (Harvard University), Robert E. Druzinsky (University of Illinois at Chicago), Rebecca Z. German (Northeast Ohio Medical University), Melissa A. Haendel (Oregon Health & Science University), Anthony Herrel (CNRS Paris), Susan W. Herring (University of Washington), Hilmar Lapp (NESCent), Paula Mabee (University of South Dakota), Christopher J. Mungall (Lawrence Berkeley National Laboratory), Christopher J. Vinyard (Northeast Ohio Medical University), Christine E. Wall (Duke University), and Susan H. Williams (University of Ohio, Athens).</li>
                <li>The <a href="https://code.google.com/p/feedontology/" target="_blank">Feeding Behavior Ontology</a> was developed by the <a href="http://www.feedexp.org/wiki/Main_Page" target="_blank">Mammalian Feeding Working Group</a>.</li>
                <li>The <a href="http://www.phenotypercn.org/" target="_blank">Phenotype Research Coordination Network</a> supported our work in developing the ontologies.</li>
                <li>Both ontologies can be accessed at <a href="https://code.google.com/p/feedontology/" target="_blank">https://code.google.com/p/feedontology/</a></li>
              </ul>
            <li>Database and application programming: Vladimir Gapeyev (NESCent), Hilmar Lapp (NESCent), Xianhua Liu (NESCent), and Squishymedia, Inc. (Portland, OR)</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="box box3">
          <h3>Technology</h3>
          <ul>
            <li>Database management system: <a href="http://www.postgresql.org/" target="_blank">PostgreSQL 8.4.20</a></li>
            <li>Programming language: <a href="http://python.org/" target="_blank">python 2.6</a></li>
            <li>Web framework: <a href="http://www.djangoproject.com/" target="_blank">Django 1.6</a></li>
            <li>Search backend: <a href="http://lucene.apache.org/solr/" target="_blank">Apache Solr 3.6.2</a></li>
            <li>Other tools and libraries include:
              <ul>
                <li><a href="http://haystacksearch.org/" target="_blank">Haystack</a>, a Django search framework</li>
                <li><a href="http://south.aeracode.org/" target="_blank">South</a> for schema and data migration</li>
                <li><a href="http://code.google.com/p/django-pagination/" target="_blank">django-pagination (1.0.5)</a></li>
                <li><a href="http://www.jquery.com/" target="_blank">jQuery</a></li>
                <li><a href="http://initd.org/psycopg/" target="_blank">psycopg2 (2.0.13)</a>: PostgreSQL adapter for the Python programming language</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="box box4">
          <h3>Copyright</h3>
          <p>Data available publicly from this site are released to the public domain under the CC Zero waiver. Images are Copyright (c) by the creator and available under a Creative Commons Attribution 4.0 International license. All other content is Copyright (c) by the Mammalian Feeding Working Group and available under a Creative Commons Attribution 4.0 International license.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="box box5">
          <h3>Publications and How to Cite</h3>
          <p>If you reuse the FEED database, ontologies, or application, or publish results attained from it, please cite as follows: <a href="http://www.feedexp.org/AboutFEED" target="_blank">http://www.feedexp.org/AboutFEED</a></p>
          <p>See also Wall, C. E., Vinyard, C. J., Williams, S. H., Gapeyev, V., Liu, X., Lapp, H., and German, R. Z. 2011. Overview of FEED, the Feeding Experiments End-user Database. Integrative and Comparative Biology 51(2):215-223. <a href="http://dx.doi.org/10.1093/icb/icr047." target="_blank">http://dx.doi.org/10.1093/icb/icr047</a>.</p>
          </p>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="box box6">
          <h3>Contact</h3>
          <ul>
            <li>To contact us to request permission to register as a data contributor, to provide feedback, or to report bugs, send an email to <a href="mailto:feeddb-contact@duke.edu?subject=Request for account&body=Please include your full name, email address and institutional affiliation.">feeddb-contact@duke.edu</a>.
          </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="box box2">
          <h3>Source Code</h3>
          <p>Source code is available at <a href="http://github.com/NESCent/feedingdb/" target="_blank">Github</a> under the <a href="http://www.gnu.org/copyleft/gpl.html" target="_blank">GPL v3 license</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
