{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load feedmedia %}{% app_static_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block pretitle %}
<div class="masthead">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Welcome to <span>FEED</span></h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="col-xs-10 col-xs-offset-1">
  <p>Feeding is critical to survival. It is a behavior during which numerous anatomical structures function in complex ways.  The evolution of mammals is a story that highlights changes in these structures. What we know about mammalian craniofacial evolution rests, in large part, on physiologic studies of the movements and forces within the feeding apparatus during feeding.</p>
  <p>The Feeding Experiments End-user Database, or FEED, is a multi-species collection of physiologic data and associated metadata.  The physiologic data contain information on muscle activity, bone and muscle strain, jaw and oropharyngeal apparatus motion, and intra-oral pressure during feeding. Metadata on feeding behaviors and muscle anatomy are annotated with ontologies. Experimental biologists can use the data in FEED to study the evolutionary and functional implications of variation in feeding physiology.</p>
  <p>First-time visitors should read <a href="/about">About FEED</a> and will need to register before uploading data.</p>
</div>
<div class="col-xs-4 col-xs-offset-2">
  <a href="search" class="btn btn-default search" role="button">Search</a>
</div>
<div class="col-xs-4">
  <a href="/admin/feed/study/add/" class="btn btn-default upload" role="button">Upload</a>
</div>
{% endblock %}
{% block feature %}
<div id="makeMeScrollable">
		<img src="{% app_static_prefix %}images/alpacas.jpg" alt="Alpacas" id="image1" height="300" />
		<img src="{% app_static_prefix %}images/howler.jpg" alt="Howler" id="image2" height="300" />
		<img src="{% app_static_prefix %}images/iguana.jpg" alt="Iguana" id="image3" height="300" />
		<img src="{% app_static_prefix %}images/marmot.jpg" alt="Marmot" id="image4" height="300" />
		<img src="{% app_static_prefix %}images/ponies.JPG" alt="Ponies" id="image5" height="300" />
		<img src="{% app_static_prefix %}images/didelphis.jpg" alt="Didelphis" id="image6" height="300" />
		<img src="{% app_static_prefix %}images/mini-pig.jpg" alt="Mini Pigs" id="image7" height="300" />
		<img src="{% app_static_prefix %}images/propithecus-haring.jpg" alt="Propithecus Haring" id="image8" height="300" />

</div>
{% endblock %}

{% if not user.is_authenticated %}
<p>Please log in into the system.</p>
{% endif %}