{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load feedmedia %}{% app_static_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block pretitle %}<h1>Welcome to <span>FEED</span></h1>{% endblock %}
{% block content %}
<div class="col-xs-8 col-xs-offset-2">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis ullamcorper velit. Praesent hendrerit mauris et luctus lacinia. Cras ace quam, vulputate libero.Nullam volutpat mauris tincidunt pretium lacinia. Phasellus posuere aliquam sem sit amet facilisis. Quisque placerat elit eu est adipiscing, a porttitor libero laoreet vulputate.</p>
</div>
<div class="col-xs-4 col-xs-offset-2">
  <a href="search" class="btn btn-default search" role="button">Search</a>
</div>
<div class="col-xs-4">
  <a href="/admin/feed/study/add/" class="btn btn-default upload" role="button">Upload</a>
</div>
{% endblock %}
{% block feature %}
<div id="makeMeScrollable">
		<img src="{% app_static_prefix %}js/tkahn-Smooth-Div-Scroll-1c3b3a6/images/demo/field.jpg" alt="Field" id="field" />
		<img src="{% app_static_prefix %}js/tkahn-Smooth-Div-Scroll-1c3b3a6/images/demo/gnome.jpg" alt="Gnome" id="gnome" />
		<img src="{% app_static_prefix %}js/tkahn-Smooth-Div-Scroll-1c3b3a6/images/demo/pencils.jpg" alt="Pencils" id="pencils" />
		<img src="{% app_static_prefix %}js/tkahn-Smooth-Div-Scroll-1c3b3a6/images/demo/golf.jpg" alt="Golf" id="golf" />
		<img src="{% app_static_prefix %}js/tkahn-Smooth-Div-Scroll-1c3b3a6/images/demo/river.jpg" alt="River" id="river" />
		<img src="{% app_static_prefix %}js/tkahn-Smooth-Div-Scroll-1c3b3a6/images/demo/train.jpg" alt="Train" id="train" />
		<img src="{% app_static_prefix %}js/tkahn-Smooth-Div-Scroll-1c3b3a6/images/demo/leaf.jpg" alt="Leaf" id="leaf" />
		<img src="{% app_static_prefix %}js/tkahn-Smooth-Div-Scroll-1c3b3a6/images/demo/dog.jpg" alt="Dog" id="dog" />
</div>
{% endblock %}

{% if not user.is_authenticated %}
<p>Please log in into the system.</p>
{% endif %}