{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load feedmedia %}{% app_static_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block pretitle %}<h1>Welcome to FEED</h1>{% endblock %}
{% block content %}

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis ullamcorper velit. Praesent hendrerit mauris et luctus lacinia. Cras ace quam, vulputate libero.Nullam volutpat mauris tincidunt pretium lacinia. Phasellus posuere aliquam sem sit amet facilisis. Quisque placerat elit eu est adipiscing, a porttitor libero laoreet vulputate.</p>
<div class="row">
  <a href="search.html" class="col-xs-2 col-xs-offset-4 btn btn-default" role="button">Search</a>
  <a href="" class="col-xs-2 btn btn-default" role="button">Upload</a>
</div>

{% if not user.is_authenticated %}
<p>Please log in into the system.</p>
{% endif %}



{% endblock %}
