<p class="paginator">
Pages:
{% for p in pages %}
{%ifequal p page %}
<span class="this-page">{{p}}</span>
{%endifequal%}
{%ifnotequal p page %}
<a href="javascript: gopage({{p}});">{{p}}</a>
{%endifnotequal%}
{%endfor%}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Records per page:
{% for p in item_per_page_choice %}
{%ifequal p item_per_page %}
<span class="this-page">{{p}}</span>
{%endifequal%}
{%ifnotequal p item_per_page %}
<a href="javascript: itemperpage({{p}});">{{p}}</a>
{%endifnotequal%}
{%endfor%}
</p>
