{% extends "admin/base.html" %}
{% load explorer_display %}
{% block extra_js %}
<script type="text/javascript" src="/explorer/static/js/jquery.checkboxes.js"></script>
{% endblock %}

<script language="javascript">
function checkbox_clicked(obj){
   if(obj.checked){
    	$('[INPUT[name^="chk:"]').attr('checked', true);
   }else{
        $('[INPUT[name^="chk:"]').attr('checked', false);
   }
}
function select_allchannels_clicked(obj){
    if(obj.checked){
    	$('[INPUT[name^="channel:"]').attr('checked', true);
   }else{
        $('[INPUT[name^="channel:"]').attr('checked', false);
   }
}
</script>

{% block breadcrumbs %}{% endblock %}

{% block pretitle %}
<div class="masthead">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Download Trials</h1>
        <h2>Collection Metadata: {{bucket}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <hr />
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="col-xs-12">
<form action="{% url "explorer.views.bucket_download" bucket.id %}" id="meta_form" name ="meta_form" method="POST">
{% csrf_token %}

<div class="row">
      <div class="col-xs-2">
        <label for="id_title">Zip file name:</label>
      </div>
      <div class="col-xs-2">
        {{file_name}}
      </div>
      <div class="col-xs-3">
        <label for="id_description">Choose data to download:</label>
      </div>
      <div class="col-xs-5 radios">
        <div class="row">
          <div class="col-xs-1">
            <input for="id_description" type="radio" name="download_choice" value="0" checked="checked" onclick="document.getElementById('meta_div').style.display='block';document.getElementById('channels_div').style.display='none';"/>
          </div>
          <div class="col-xs-11">
            <label>Meta data only</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-1">
            <input for="id_description" type="radio" name="download_choice"  value="1" onclick="document.getElementById('meta_div').style.display='none';document.getElementById('channels_div').style.display='block';" />
          </div>
          <div class="col-xs-11">
            <label>Data only</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-1">
            <input for="id_description" type="radio" name="download_choice"  value="2"  onclick="document.getElementById('meta_div').style.display='block'; document.getElementById('channels_div').style.display='block';"/>
          </div>
          <div class="col-xs-11">
            <label>Both meta data and data</label>
          </div>
        </div>
      </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div id="meta_div">
      <!-- h3>CSV format</h3>
      <table><tr><td class="TdField">Delimiter</td><td class="TdValue"><select name="delimiter"><option value="tab">tab</option><option value="comma">comma</option></select></td></tr>
      <tr><td class="TdField">Quote Char</td><td class="TdValue"><input name="quotechar" value='"' />(1 character)</td></tr>
      </table -->
      
      <!-- h3>Metadata Option</h3>
      <table><tr><td><input type="radio" name="meta_option"   value="0"  checked="checked" />  store channel meta data in separate files</td></tr>
      <tr><td><input type="radio"  name="meta_option"  value="1"  />  store channel meta data with trial meta data</td></tr>
      </table -->
      
      <h3>Select Trial Metadata Fields</h3>
      <table class="table table-striped table-bordered">
        <tr>
          <th>Source</th>
          <th>Field</th>
          <th>Column Header</th>
          <th>
          <input type="checkbox"  id="select_all" onclick ="checkbox_clicked(this)" checked="checked" /></th></tr>
          
          {% for form in meta_forms %}
          
          {%for field in form %}
          {%if forloop.first %}<tr class=" {% cycle 'even'  'odd' %}"><td rowspan="{{form.fields|length}}">{{form.Meta.name}}</td>{%else%}<tr class="{% cycle 'even'  'odd' %}">{%endif%}
          <td>{{form.Meta.name}}: {{field.name}}</td><td><input size="20" name="{{form.Meta.name}}:{{field.name}}" value="{{form.Meta.name}}:{{field.label}}" /></td><td><input name="chk:{{form.Meta.name}}:{{field.name}}" type="checkbox" checked="checked" /></td>
        </tr>
          {% endfor %}
          {% endfor %}
      </table>  
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div id="channels_div" style="display:none;">
      <h3>Channel Selection</h3>
      <table class="table table-striped table-bordered">
        <tr><td  class="TdValue"><input type="radio"  name="channel_choice"  value ="0" onclick="document.getElementById('channels_sel_div').style.display='none';" checked="checked"/> <label>all channels: all trial files in current bucket will be downloaded as original files.</label> </td></tr>
        <tr><td  class="TdValue"><input type="radio"   name="channel_choice"  value ="1" onclick="document.getElementById('channels_sel_div').style.display='block';" /> <label>selected channels: selected channels will be merged side by side into one file for downloading.</label> </td></tr>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div id="channels_sel_div" style="display:none;">
      <h3>Select Channels</h3>
      <p>All channels from all trials in the current bucket will be displayed below and user can select individual channels for each trial for downloading. </p>
      <table class="table table-striped table-bordered">
        <tr>
        <th rowspan="2">Trial</th>
        <th colspan="6">Channels</th>
        <th rowspan="2">Select All <br/><input type="checkbox" id="select_all_channels" onclick ="select_allchannels_clicked(this)" checked="checked"/></th>
        </tr>
        <tr>				  
        <th>Order</th>
        <th>Name</th>
        <th>Technique</th>
        <th>Rate</th>
        <th>Location</th>
        <th>Side</th>
        </tr>
          {% for trial in bucket.trials.all %} 
          {% for lineup in trial.session.channellineup_set.all %}
          {%if forloop.first %}<tr class="{% cycle 'even'  'odd' %}"><td rowspan="{{trial.session.channellineup_set.all|length}}">{{trial.title}}</td>{%else%}<tr class="{% cycle 'even'  'odd' %}">{%endif%}
          
          <td>{{lineup.position}}</td>
          {%if lineup.channel %}
          <td>{{lineup.channel.name}}</td>
          <td>{%technique_label lineup.channel.setup.technique%}</td>
          <td>{{lineup.channel.rate}}</td>
          <td>{% display_lineup_location lineup %}</td> 
          <td>{% display_lineup_side lineup %}</td> 
          {%else%}
          <td>*dead*</td>
          <td>*dead*</td>
          <td>*dead*</td>
          <td>*dead*</td>
          <td>*dead*</td>
          {%endif%}
          <td><input name="channel:{{trial.id}}:{{lineup.position}}" type="checkbox" checked="checked" /></td>  
        </tr>
          {%endfor %}
          {%endfor %}
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-3 col-xs-offset-9">
    <input class="btn btn-primary" type="submit" value="Download Records" />
  </div>
</div>
</form>
</div>
{% endblock %}

