{% extends "admin/base_site.html" %}
{% load explorer_display %}
{% block bodyclass %}collection-detail{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="/explorer/static/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/explorer/static/js/jquery.checkboxes.js"></script>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block pretitle %}
  <div class="masthead">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Download Trials</h1>
          <h2>My Data Collection Details</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <hr />
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="col-xs-12">
  <form action="{% url "explorer.views.bucket_detail" form.instance.id %}" method="POST">
  {% csrf_token %}
  <div class="row">
    <div class="col-xs-8">
      <div class="row">
        <div class="col-xs-3">
          <label for="id_title">Title:</label>
        </div>
        <div class="col-xs-9">
          {{ form.title }}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <label for="id_description">Description:</label>
        </div>
        <div class="col-xs-9 short-box">
          {{ form.description }}
        </div>
      </div>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
      <button class="btn btn-default full-width top-element" type="submit">Save</button>
      <a class="btn btn-primary" href="{% url "explorer.views.bucket_download" form.instance.id %}" class="downloadlink">Select Metadata</a></li>
    </div>
    </div>
  </form>
</div>
</div>
<script language="javascript">
function checkbox_clicked(obj){
   if(obj.checked){
	$("#trial_form").checkCheckboxes();	
   }else{
           	$("#trial_form").unCheckCheckboxes();
   }
}

</script>
<div class="row">
  <div class="col-xs-12">
    <h3>Trials</h3>
    <form action = "{% url "explorer.views.bucket_remove_trials" form.instance.id %}" method="POST" id="trial_form" name ="trial_form">
      {% csrf_token %}
      <table class="table table-striped table-bordered">
        <tr>
          <th style="width:28px;"><input type="checkbox" id="select_all" onclick ="checkbox_clicked(this)" /></th>
          <th>Name</th>
          <th>Species</th>
          <th>Primary Behavior</th>
          <th>Food Type</th>
          <th>Techniques</th>
          <th>Muscle/Bone</th>
          <th class="bucket_header">My Data Collections</th>
        </tr>
        {% for trial in trials %}
        <tr class="{% cycle 'row1'  'row2' %}">
          <td><input type="checkbox" name="{{trial.id}}" id="{{trial.id}}" class="check_trial" /></td>
          <td><a href="{% url "explorer.views.trial_detail" trial.id %}">{{trial.title}}</a></td>
          <td>{{trial.session.experiment.subject.taxon.genus}} {{trial.session.experiment.subject.taxon.species}}</td>
          <td>{{trial.behaviorowl_primary}}</td>
          <td>{{trial.food_type}}</td>
          <td>
          {#% display_technique trial  %#}
          FIXME
          </td>
          <td>FIXME {#% display_muscle trial  %#}</td>
          <td class="bucket_column">
          {% for bucket in trial.bucket_set.all %}
          {%ifequal bucket.created_by.id user.id %}
          <a href="{% url "explorer.views.bucket_detail" bucket.id %}">{{bucket}}</a><br/>
          {%endifequal%}
          {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </table>
      <div class="row">
        <div class="col-xs-3 col-xs-offset-9">
          <input class="btn btn-primary bottom-element" type="submit" value="Remove Selected Records" />
        </div>
      </div>
    </form>
  </div>
  </div>

{% endblock %}
