{% extends "explorer/base.html" %}

      {% block breadcrumbs %}
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="breadcrumbs">
              <ul id="crumbs">
                <li><a href="/">Home</a></li>
                <span>/</span>
                <li>My Data Collections</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}

{% block content %}
  <div class="col-xs-12">
    <h3>My Data Collections</h3>
    <ul class="object-tools">
      <li><a href="{% url "explorer.views.bucket_add" %}" class="addlink"><span class="glyphicon glyphicon-plus-sign"></span>Add Collection</a></li>
    </ul>
    <table class="table table-bordered table-striped">
    	<thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Number of Trials</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      {% for b in buckets %}
      <tr  class="{% cycle 'row1' 'row2' %}">
        <td><a  href="{% url "explorer.views.bucket_detail" b.id %}">{{b.id}}</a></td>
        <td><a  href="{% url "explorer.views.bucket_detail" b.id %}">{{b.title}}</a></td>
        <td>{{b.trials.all|length}}</td>
        <td>{%if b.description%} {{b.description}}{%endif%}</td>
        <td><a href="javascript: if(confirm('Do you really want to delete this bucket:{{b}}?')==true)window.location.href='{% url "explorer.views.bucket_delete" b.id %}';">Delete</a>&nbsp;&nbsp;
        <a href="{% url "explorer.views.bucket_download" b.id %}">Download</a></td>
      </tr>
    {% endfor %}
    </table>
  </div>
{% endblock %}
