{% extends "admin/base.html" %}
{% load i18n %}
{% block bodyclass %}search{% endblock %}
{% load faceted_search_extras %}

{% block pretitle %}
  <h1>Search FEED</h1>
{% endblock %}

{% block content_title %}<p class="col-xs-10 col-xs-offset-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis ullamcorper velit. Praesent hendrerit mauris et luctus lacinia. Cras ac ornare quam, vitae vulputate libero. Nullam volutpat mauris tincidunt pretium lacinia. Phasellus posuere aliquam sem sit amet facilisis. Quisque placerat elit eu est adipiscing, a porttitor libero laoreet. Nunc posuere adipiscing mauris, sit amet tempus augue tincidunt ac. Duis porta arcu sed leo bibendum interdum. To access data contained within the XMA portal please click <a href="http://xmaportal.org">here</a>.</p>{% endblock %}

{% block content %}
<form method="get" action=".">
<div class="row">
    <table class="search-box table col-xs-12">
      <!-- {{ form.as_table }} -->
      <tbody>
        <tr>
          <th class="col-xs-offset-1 col-xs-2">
            <label for="id_q">Enter your search term(s):</label>
          </th>
          <td class="col-xs-6">
            {{ form.q }}
          </td>
          <td class="col-xs-2">
            <input type="submit" value="Submit">
          </td>
        </tr>
      </tbody>
    </table>
</div>
<div class="row">
  <div class="col-xs-12">
    <hr />
  </div>
</div>

{% if page or query %}

<div class="row">
  <div class="col-xs-3">
    <aside>
      <h3>Advanced Search</h3>
      {% show_facets facet_items 'muscles' %}
      {% show_facets facet_items 'muscles_part_of' %}
    </aside>
  </div>
  <div class="col-xs-9">
    <div class="row">
      <div class="records-number col-xs-5 col-lg-4">
        <h3>Results ({{ page.paginator.count }})</h3>
      </div>
      <div class="records-list col-xs-5 col-xs-offset-2 col-lg-4 col-lg-offset-4">
        <p>Records to display:</p>
        {{ form.per_page }}
      </div>
    </div>
    <table>
      <tr>
        <th class="choose"><input type="checkbox" name="viewby" value="blank" /></th>
        <th class="column2">Trial Name</th>
        <th class="column3">Date (start date)</th>
        <th class="column4">Species</th>
        <th class="column5">Primary<br />Behavior</th>
        <th class="column6">Techniques</th>
        <th class="column7">Anatomical<br />Location</th>
        <th class="column8">Food Type</th>
        <th class="column9">Collections</th>
      </tr>
      {% for result in page.object_list %}
        <tr>
          <td class="choose"><input type="checkbox" name="viewby" value="blank" /></td>
          <td class="column2"><a href="">{{ result.object.title }}</a></td>
          <td class="column3"><a href="">{{ result.object.start | date:"M j, Y" | default:"unknown" }}</a></td>
          <td class="column4"><a href="">{{ result.object.session.experiment.subject.taxon }}</a></td>
          <td class="column5"><a href="">Mastication (FIXME)</a></td>
          <td class="column6">
            {% for label in result.techniques %}
              <a href="">{{ label }}</a>
            {% endfor %}
          </td>
          <td class="column7">{% for label in result.muscles_direct %}<a href="/{{ label }}">{{ label }}</a> {% endfor %}</td>
          <td class="column8"><a href="">{{ result.object.food_type }}</a></td>
          <td class="column9">
            {% for bucket in result.object.bucket_set.all %}
              <a href="">{{ bucket }}{% if not forloop.last %}, {% endif %}</a>
            {% endfor %}
          </td>
        </tr>
        {% empty %}
          <p>No results found.</p>
      {% endfor %}
    </table>
    <div class="row">
      <div class="records-selection col-xs-8 col-xs-offset-2 col-lg-6 col-lg-offset-3">
        <p>Add selected records to collection:</p>
        <select class="chosen-select">
          <option>Existing collection</option>
          <option>Add new collection</option>
        </select>
      </div>
    </div>

  {% if page.has_previous or page.has_next %}
    <div class="row">
      <div class="records-pagination col-xs-3 col-xs-offset-4">
        {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
        |
        {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
      </div>
    </div>
  {% endif %}
  </div>
{% else %}
  {# Show some example queries to run, maybe query syntax, something else? #}
{% endif %}
</form>
{% endblock content %}

{% block extra_js %}
<script>
// TODO: add spinner graphiczzz!!
jQuery(document).on('ready', function() {
  $('form :input').on('change', function() { this.form.submit(); });
});
</script>
{% endblock extra_js %}
