{% load i18n %}
{% load faceted_search_extras %}
{% block content %}
<html>
<head></head>
<body>
<h2>Search</h2>
<form method="get" action=".">
  <table>
    {{ form.as_table }}
    <tr>
      <td>&nbsp;</td>
      <td>
        <input type="submit" value="Search">
      </td>
    </tr>
  </table>
  {% if query %}
  <!-- begin faceting -->
    {# debug #}
    <div>
      <dl>
        {% if facets.fields.sex %}
          <dt>sex</dt>
          {% for sex in facets.fields.sex %}
            <dd><a href="{{ request.get_full_path }}&amp;selected_facets=sex_exact:{{ sex.0|urlencode }}">{{ sex.0 }}</a> ({{ sex.1 }})</dd>
          {% endfor %}
        {% else %}
          <p>No sex facets</p>
        {% endif %}
      </dl>
      <dl>
        {% if facets.fields.breed %}
          <dt>Breed</dt>
          {% for breed in facets.fields.breed %}
            <dd><a href="{{ request.get_full_path }}&amp;selected_facets=breed_exact:{{ breed.0|urlencode }}">{{ breed.0 }}</a> ({{ breed.1 }})</dd>
          {% endfor %}
        {% else %}
          <p>No breed facets</p>
        {% endif %}
      </dl>
      <dl>
        {% if facets.fields.taxon %}
          <dt>Taxon</dt>
          {% for taxon in facets.fields.taxon %}
            <dd><a href="{{ request.get_full_path }}&amp;selected_facets=taxon_exact:{{ taxon.0|urlencode }}">{{ taxon.0 }}</a> ({{ taxon.1 }})</dd>
          {% endfor %}
        {% else %}
          <p>No taxon facets</p>
        {% endif %}
      </dl>
      <dl>
        {% if facets.fields.muscles %}
          <dt>Muscle</dt>
          {% for muscles in facets.fields.muscles %}
            <dd><a href="{{ request.get_full_path }}&amp;selected_facets=muscles_exact:{{ muscles.0|urlencode }}">{{ muscles.0 }}</a> ({{ muscles.1 }})</dd>
          {% endfor %}
        {% else %}
          <p>No muscles facets</p>
        {% endif %}
      </dl>
    </div>
  
    <div>
      <h4>automatic facet</h4>
      {% show_facets facets 'taxon' %}
    </div>
  <!-- end faceting -->
  <h3>Results</h3>
  {% for result in page.object_list %}
  <p>
    <a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a> - {{ result.object.breed }} 
    Breed: {{ result.breed }}, {{ result.breed_exact }}<br />
    Taxon: {{ result.taxon }}, {{ result.taxon_exact }}<br />
    Muscles: {{ result.muscles }}, {{ result.muscles_exact }}<br />
    Trial title: {{ result.object.title }}<br />
    Session title: {{ result.object.session.title }}<br />
    Experiment title: {{ result.object.session.experiment.title }}<br />
    Study title: {{ result.object.session.experiment.study.title }}<br />
  </p>
  {% empty %}
  <p>No results found.</p>
  {% endfor %}
  {% if page.has_previous or page.has_next %}
  <div>
    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
    |
    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
  </div>
  {% endif %}
  {% else %}
  {# Show some example queries to run, maybe query syntax, something else? #}
  {% endif %}
</form>
</body>
</html>
{% endblock content %}
