{% load i18n %}{% load feedmedia %}

{% if user.is_authenticated %}
{% ifequal  user.first_name "anonymous" %}
<div class="block">
<h2>Login</h2>
<div class="block_content">
<form action="/login" method="post" id="login-form">
  <table>
  	<tr><td>
    <label for="id_username">{% trans 'Username:' %}</label></td><td> <input type="text" name="username" id="id_username" />
  </td></tr>
  <tr><td>
  
    <label for="id_password">{% trans 'Password:' %}</label> </td><td><input type="password" name="password" id="id_password" />
    <input type="hidden" name="this_is_the_login_form" value="1" />
  </td></tr>
  <tr><td>
    <label>&nbsp;</label></td><td><input type="submit" value="{% trans 'Log in' %}" />
    </td></tr>
  </table>
</form>
</div>
</div>
<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
{% endifequal %}	
{% else %}
<div class="block">
<h2>Login</h2>
<div class="block_content">
<form action="/login" method="post" id="login-form">
  <table>
  	<tr><td>
    <label for="id_username">{% trans 'Username:' %}</label></td><td> <input type="text" name="username" id="id_username" />
  </td></tr>
  <tr><td>
  
    <label for="id_password">{% trans 'Password:' %}</label> </td><td><input type="password" name="password" id="id_password" />
    <input type="hidden" name="this_is_the_login_form" value="1" />
  </td></tr>
  <tr><td>
    <label>&nbsp;</label></td><td><input type="submit" value="{% trans 'Log in' %}" />
    </td></tr>
  </table>
</form>
</div>
</div>
<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
{%endif%}
<div class="block">
<h2>Data Model</h2>
<div class="block_content">
<a href="{% app_static_prefix %}images/feeding-model.png"><img style="width: 230px;border: 1px solid #ccc;" src="{% app_static_prefix %}images/feeding-model-small.png" /></a>
</div>
</div>
<div class="block">
<h2>People</h2>
<div class="block_content">
<a href="{% app_static_prefix %}images/feeding_group.jpg"><img style="width: 230px;border: 1px solid #ccc;" src="{% app_static_prefix %}images/feeding_group_small.jpg" /></a>
</div>
</div>