{% load display i18n feedmedia admin_modify %}
<div class="inline-group">
  <div class="tabular inline-related {% if forloop.last %}last-related{% endif %}">
    {{ inline_admin_formset.formset.management_form }}
    <fieldset class="module">
       <h3>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h3>
       {{ inline_admin_formset.formset.non_form_errors }}

      <div class="col-xs-11 large-table">
        <table class="table">
          <thead>
            <tr>
              {% for field in inline_admin_formset.fields %}
                {% if not field.is_hidden  %}

                  {%if field.label.required %}
                  <th class="{{ field.label }} required" {% if forloop.first %}colspan="2"{% endif %}>{{ field.label|capfirst }}</th>
                  {%else%}
                  <th class="{{ field.label }}" {% if forloop.first %}colspan="2"{% endif %}>{{ field.label|capfirst }}</th>
                  {%endif%}


                {% endif %}
              {% endfor %}
              {% for fieldset in inline_admin_form %}
                {% for line in fieldset %}
                  {% for field in line %}
                    {%if field.field.field.required %}   
                      <td class="{{ field.field.name }} required">
                    {%else%}
                      <td class="{{ field.field.name }}">
                    {%endif%}
                        {{ field.field.errors.as_ul }}
                        {{ field.field }}
                      </td>
                  {% endfor %}
                {% endfor %}
              {% endfor %}
              <!-- % if inline_admin_formset.formset.can_delete %}<th>{% trans "Delete?" %}</th>{% endif % -->
              {% if inline_admin_formset.formset.model.is_clonable %}<th>{% trans "Clone" %}</th>{% endif %}
            </tr>
          </thead>
  
          {% for inline_admin_form in inline_admin_formset %}
            {% if inline_admin_form.form.non_field_errors %}
              <tr><td colspan="{{ inline_admin_form.field_count }}">{{ inline_admin_form.form.non_field_errors }}</td></tr>
            {% endif %}
            <tr class="{% cycle row1,row2 %} {% if inline_admin_form.original or inline_admin_form.show_url %}has_original{% endif %} {% if forloop.last %}empty-form hidden{% endif %}">
  
              <td class="original">
                {% if inline_admin_form.original or inline_admin_form.show_url %}
                {% endif %}
                {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
                {{ inline_admin_form.fk_field.field }}
                {% spaceless %}
                {% for fieldset in inline_admin_form %}
                  {% for line in fieldset %}
                    {% for field in line %}
                      {% if field.is_hidden %}
                        {{ field.field }}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                {% endfor %}
                {% endspaceless %}
              </td>
  
              {% for fieldset in inline_admin_form %}
                {% for line in fieldset %}
                  {% for field in line %}
                    {%if field.field.field.required %}
                      <td class="{{ field.field.name }} required">
                    {%else%}
                      <td class="{{ field.field.name }}">
                    {%endif%}
                      {{ field.field.errors.as_ul }}
                      {{ field.field }}
                      </td>
                  {% endfor %}
                {% endfor %}
              {% endfor %}
  
              {% if inline_admin_formset.formset.can_delete %}
                <!-- <td class="delete">{% if inline_admin_form.original %}{{ inline_admin_form.deletion_field.field }}{% endif %}
                </td> -->
                {% if inline_admin_formset.formset.model.is_clonable %}
                  <td class="clone">
                    {% if inline_admin_form.original %}
                      <a href="/admin/{{opts.app_label}}/{% display_classname inline_admin_formset %}/{{inline_admin_form.original.pk}}/clone?r=/admin/{{opts.app_label}}/{{ opts.object_name.lower }}/{{object_id}}/edit"><img src="{% app_static_prefix %}img/admin/copy-icon.png" alt="clone" title="clone this as a new row" /></a>
                    {% endif %}
                  </td>
                {% endif %}
              {% endif %}
            </tr>
          {% endfor %}
        </table>
        <div class="row">
          <div class="col-xs-4">
            <input class="btn btn-default" type="submit" value="{% trans 'Save &amp; Add More Records' %}" name="_save" {{ onclick_attrib }}/>
          </div>
          <div class="col-xs-12">
            <p style="color:#da5400;">* If you need to add more records than available empty rows, please click 'save' to save the data and additional space will be added following the existing records.</p>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  {# <ul class="tools"> #}
  {#   <li><a class="add" href="">Add another {{ inline_admin_formset.opts.verbose_name|title }}</a></li> #}
  {# </ul> #}

</div>
