{% comment %}
This template is used to render the "upload steps" block. You have access to
the most recently edited study, experiment, session, and trial. You can also follow
all the relationships to the other elements of the data set.

Some useful variables:
    study - study object
    subjects - list of subjects attached to this study
    experiments
    sessions
    trials

    known_status - Boolean, whether we have information or not

{% endcomment %}
{% if show_status %}
<aside>
  <div class="col-xs-3 upload-steps">
    <h3>Upload Steps</h3>
    <ul>
        <li><a href="{{ study.get_absolute_url }}">Study: {{ study }}</a></li>
        <li>Subjects: {{ subjects|length }}
        {% for subject in subjects %}
            <div><a href="{{ subject.get_absolute_url }}">{{ subject }}</a></div>
        {% endfor %}
        </li>
        <li>Experiments: {{ experiments|length }}
        {% for experiment in experiments %}
            <div><a href="{{ experiment.get_absolute_url }}">{{ experiment }}</a></div>
        {% endfor %}
        </a></li>
        <li>Sessions: {{ sessions|length }}
        {% for session in sessions %}
            <div><a href="{{ session.get_absolute_url }}">{{ session }}</a></div>
        {% endfor %}
        </li>
        <li>Trials: {{ trials|length}}
        {% for trial in trials %}
            <div><a href="{{ trial.get_absolute_url }}">{{ trial }}</a></div>
        {% endfor %}
        </li>
        <li><a href="{{ study.get_absolute_url }}">Review</a></li>
    </ul>
  </div>
</aside>
{% endif %}
